    <script type="text/template" id="job-template">
        @JobView.definitions.map { definition =>
        <dt>@Messages(s"jobs.${definition.name}")</dt>
        <dd class="@{definition.name}">
            @definition.name match {

            case "name" => {
            <a href="<%= reportUrl %>"><%= name %></a>}

            case "entrypoint" => {
            <a href="<%= entrypoint %>" class="external" target="_blank" title="@Messages("resource.external.link")">
                <% print(Util.shortenUrl(entrypoint, 100)) %>
            </a>}

            case "status" => {
            <span class="<%= status %>"><%= status %></span>
            <% if(isIdle) { %>
            <button class="run">@Messages("job.button.run")</button>
            <% } else { %>
            <button class="stop">@Messages("job.button.stop")</button>
            <% } %>}

            case "completedOn" => {
            <% if (isCompleted) { %>
            <time datetime="<%= completedOn.timestamp %>"><%= completedOn.legend1 %></time>
            <span class="legend"><%= completedOn.legend2 %></span>
            <% } else { %>
            <span class="never">Never</span>
            <% } %>}

            case "warnings" => {
            <span><%= warnings %></span>}

            case "errors" => {
            <span><%= errors %></span>}

            case "resources" => {
            <span><%= resources %></span>}

            case "maxResources" => {
            <span><%= maxResources %></span>}

            case "health" => {
            <progress max=100 value=<%= health %> title="<%= health %>%">
                <%= health %>%
            </progress>}

            case "actions" => {
            <% if(isIdle) { %>
            <button class="run">@Messages("job.button.run")</button>
            <% } else { %>
            <button class="stop">@Messages("job.button.stop")</button>
            <% } %>
            <button class="delete" title="@Messages("job.button.delete.title")">@Messages("job.button.delete")</button>
            <input name=search class="search cleared" type=text placeholder="Search" required value="">
            <form class="group" action="<%= url %>" method=get>
                <fieldset class="dropdown">
                    <legend>Report by</legend>
                    <input name=group type=radio value="url" id="url" <% if(hasResources()){print("checked")} %>>
                    <label for="url">Group by resource</label>
                    <input name=group type=radio value="message" id="message" <% if(!hasResources()){print("checked")} %>>
                    <label for="message">Group by message</label>
                </fieldset>
            </form>}
            }
        </dd>}

        @**collection match {
        case Some(Left(assertions)) => {}
        case Some(Right(resources)) => {}
        case _ => {}
        }**@

        </dl>
        <hr>
    </script>
