    <script type="text/template" id="job-template">
        <dl>
        @JobView.definitions.map { definition =>
        <dt>@Messages(s"jobs.${definition.name}")</dt>
        <dd class="@{definition.name}">
            @definition.name match {

            case "name" => {
            <a href="<%= reportUrl %>"><%= name %></a>}

            case "entrypoint" => {
            <a href="<%= entrypoint %>" class="external" target="_blank" title="@Messages("resource.external.link")">
                <% print(Util.shortenUrl(entrypoint, 100)) %>
            </a>}

            case "status" => {
            <span class="<%= status.status %>"><%= view.getStatusString() %></span>
            <% if(isIdle) { %>
            <form method="post"><button class="run" name="action" value="run">@Messages("job.button.run")</button></form>
            <% } else { %>
            <button class="stop">@Messages("job.button.stop")</button>
            <% } %>}

            case "completedOn" => {
            <% if (isCompleted) { %>
            <time datetime="<%= completedOn.timestamp %>"><%= completedOn.legend1 %></time>
            <span class="legend"><%= completedOn.legend2 %></span>
            <% } else { %>
            <span class="never">Never</span>
            <% } %>}

            case "warnings" => {
            <span><%= warnings %></span>}

            case "errors" => {
            <span><%= errors %></span>}

            case "resources" => {
            <span><%= resources %><span class="onMax">/<%= maxResources %></span></span>}

            case "maxResources" => {
            <span><%= maxResources %></span>}

            case "health" => {
            <progress max="100" value="<%= health %>" title="<%= health %>%">
                <%= health %>%
            </progress>}

            case "actions" => {
            <form method="post" class="jobAction">
                <fieldset>
                    <legend>Controls</legend>
            <% if(model.isIdle()) { %>
                <button class="run" name="action" value="run">@Messages("job.button.run")</button>
            <% } else { %>
                <button class="stop">@Messages("job.button.stop")</button>
            <% } %>
                <button class="delete" title="@Messages("job.button.delete.title")" data-reveal-id="deleteModal">@Messages("job.button.delete")</button>
                    </fieldset>
            </form>
            <form class="group" action="<%= url %>" method="get">
                <fieldset class="dropdown" tabindex="0">
                    <legend>Report by</legend>
                    <input name="group" type="radio" value="url" id="url" <% if(hasResources()) {%>checked="checked"<%} %>/>
                    <label for="url">Group by resource</label>
                    <input name="group" type="radio" value="message" id="message" <% if(!hasResources()) {%>checked="checked"<%} %> />
                    <label for="message">Group by message</label>
                </fieldset>
            </form>
            <input name="search" class="search cleared" type="text" placeholder="Search" required="" value=""/>
            <a class="button print">Print</a>
            }}
        </dd>}

        @**collection match {
        case Some(Left(assertions)) => {}
        case Some(Right(resources)) => {}
        case _ => {}
        }**@

        </dl>
        <hr/>
    </script>
