<script type="text/template" id="resource-template">
    <dl>
        <dt>@Messages("resource.url")</dt>
        <dd class="url">
            <a href="<%= url %>" class="report" title="@Messages("report.link")">
            <span>@Messages("resource.report.for")</span>
            <span><%= Util.shortenUrl(resourceUrl, 80) %></span>
            </a>
            <br>
            <a href="<%= resourceUrl %>" class="external" target="_blank" title="@Messages("resource.external.link")"><%= resourceUrl %></a>
        </dd>

        <dt>@Messages("resource.validated")</dt>
        <dd class="validated">
            <time datetime="<%= lastValidated.timestamp %>"><%= lastValidated.legend1 %></time>
            <span class="legend"><%= lastValidated.legend2 %></span>
        </dd>

        <dt>@Messages("resource.warnings")</dt>
        <dd class="warnings"><span><%= warnings %></span></dd>

        <dt>@Messages("resource.errors")</dt>
        <dd class="errors"><span><%= errors %></span></dd>

        <dt>Actions</dt>
        <dd class="actions">
            <input type=text name=search class="search cleared" value="">
        </dd>
    </dl>
    <hr>
</script>