    <script type="text/template" id="resource-template">
        <dl>
            @ResourceView.definitions.map { definition =>
            <dt>@Messages(s"resources.${definition.name}")</dt>
            <dd class="@{definition.name}">
            @definition.name match {

                case "url" => {
                <a href="<%= reportUrl %>" class="report" title="@Messages("report.link")">
                    <span>@Messages("resource.report.for")</span>
                    <span><%= Util.shortenUrl(model.get("url"), 80) %></span>
                </a>
                <br><a href="<%= model.get("url") %>" class="external" target="_blank" title="@Messages("resource.external.link")"><%= Util.shortenUrl(model.get("url"), 80) %></a>}

                case "lastValidated" => {
                <time datetime="<%= lastValidated.timestamp %>"><%= lastValidated.legend1 %></time>
                <span class="legend"><%= lastValidated.legend2 %></span>}

                case "warnings" => {
                <span><%= warnings %></span>}

                case "errors" => {
                <span><%= errors %></span>}

                case "actions" => {
                <input type="text" name="search" class="search cleared" placeholder="Filter results" title="Filter results" value=""/>
                <% if (model.collection.options.assertions) { %><a class="button foldAllToggle">Expand all</a><% } %>
                <a class="button print">Print</a>
                }

            }}
        </dl>
        <hr/>
    </script>