@(assertion: AssertionView)
<article class="@assertion.severity" tabindex="1">
    <dl>
        <dt>@Messages("assertion.assertor")</dt>
        <dd class="assertor">@assertion.assertor</dd>
        <dt>@Messages("assertion.severity")</dt>
        <dd class="severity">@assertion.severity</dd>
        @if(assertion.occurrences > 1) {
        <dt>@Messages("assertion.occurrences")</dt>
        <dd class="occurrences">@assertion.occurrences times</dd>}
        <dt>@Messages("assertion.message")</dt>
        <dd class="title@if(!assertion.isEmpty){ fold}">@assertion.title</dd>
        @if(assertion.description.isDefined) {
        <dt>@Messages("assertion.description")</dt>
        <dd class="description">@assertion.description</dd>}
        @**<dt>@Messages("assertion.validated")</dt>
        <dd class="validated">
            <time datetime="@assertion.validated">@Helper.formatTime(assertion.validated)</time>
            <span class="legend">@Helper.formatLegendTime(assertion.validated)</span>
        </dd>**@
    @assertion match {
      case assertion: SingleAssertionView => {
        <dt>@Messages("assertion.context")</dt>
        @assertion.contexts.take(50).map { case context =>
        <dd class="context">
            @if(context.line.isDefined){Line <span class="line">@context.line</span>}
            @if(context.column.isDefined){, Column <span class="column">@context.column</span>}
            @if(context.content.isDefined){<code class="code">@context.content</code>}
        </dd>}
        @if(assertion.contexts.size > 50){
        <dd class="more">
            <p>And @{assertion.contexts.size - 50} more</p>
        </dd>
        }
      }
      case assertion: GroupedAssertionView => {
        <dt class="url">@Messages("assertion.resources.detail")</dt>
        @assertion.resources.take(50).map { case url =>
        <dd class="url">
            <span>
                <a href="@Helper.encode(url)">@Helper.shorten(url, 80)</a>
                <a href="@url" class="external" target="_blank" title="@Messages("resource.external.link")">link</a>
            </span>
        </dd>}
        @if(assertion.resources.size > 50){
        <dd class="more">
            <p>And @{assertion.resources.size - 50} more</p>
        </dd>
        }
      }
    }

    </dl>
</article>