@(assertion: AssertionView)
<article class="@assertion.severity" tabindex="1">
    <dl>
        <dt>Assertor</dt>
        <dd class="assertor">@assertion.assertor</dd>
        <dt>Severity</dt>
        <dd class="severity">@assertion.severity</dd>
        @if(assertion.occurrences > 1) {
        <dt>Occurrences</dt>
        <dd class="occurrences">@assertion.occurrences times</dd>
        }
        <dt>Message</dt>
        <dd class="message">@assertion.message</dd>
        @if(assertion.description.isDefined) {
        <dt>Description</dt>
        <dd class="description">@assertion.description</dd>
        }
        @**<dt>Last validated</dt>
        <dd class="validated">
            <time datetime="@assertion.validated">@Helper.formatTime(assertion.validated)</time>
            <span class="legend">@Helper.formatLegendTime(assertion.validated)</span>
        </dd>**@
    @assertion match{
      case assertion: SingleAssertionView => {
        <dt>Contexts</dt>
        @assertion.contexts.map { case context =>
        <dd class="context">
            Line <span class="line">@context.line</span>, Column <span class="column">@context.column</span>
            <code class="code">@context.content</code>
        </dd>}
      }
      case assertion: GroupedAssertionView => {
        <dt>URLs</dt>
        @assertion.urls.map { case url =>
        <dd class="url">
            @url
        </dd>}
      }
    }

    </dl>
</article>