@(job: JobView)(implicit req: Request[_])
        <article data-id="@job.id">
            <dl>
                <dt>Job Name</dt>
                <dd class="name">
                    <a href="@routes.Jobs.show(job.id)" data-name>@job.name</a>
                </dd>

                <dt>URL</dt>
                <dd class="entrypoint">
                   <a href="@job.entrypoint" data-entrypoint="@job.entrypoint" class="external" target="_blank" title="@Messages("resource.external.link")">@Helper.shorten(job.entrypoint, 100)</a>
                </dd>

                <dt>Status</dt>
                <dd class="status @job.status">
                    <span data-status>@job.status</span>

                    <form action="@routes.Jobs.dispatcher(job.id)" method="post">
                        <input type="hidden" name="uri" value="@{req.uri}">
                        @job.status match {
                        case "running" => {<button type="submit" name="action" value="stop" class="stop">@Messages("job.button.stop")</button>}
                        case "idle"    => {<button type="submit" name="action" value="run" class="run">@Messages("job.button.run")</button>}
                        }
                    </form>
                </dd>

                <dt>Last Completed</dt>
                <dd class="completedOn">
                @job.completedOn match{
                  case Some(date) => {
                    <time datetime="@date" data-completed="@date" data-completed-legend1>@Helper.formatTime(date)</time>
                    <span class="legend" data-completed-legend2>@Helper.formatLegendTime(date)</span>
                    }
                  case _ => {<span class="never">Never</span>}
                }
                </dd>

                <dt>Warnings</dt>
                <dd class="warnings">
                    <span data-warnings>@job.warnings</span>
                </dd>

                <dt>Errors</dt>
                <dd class="errors">
                    <span data-errors>@job.errors</span>
                </dd>

                <dt>Resources</dt>
                <dd class="resources">
                    <span data-resources>@job.resources</span>
                </dd>

                <dt>Max resources</dt>
                <dd class="maxResources">
                    <span data-maxResources>@job.maxResources</span>
                </dd>

                <dt>Health</dt>
                <dd class="health">
                    <progress max=100 value=@job.health title="@job.health%" data-health="@job.health">
                        @job.health%
                    </progress>
                </dd>

                <dt>Actions</dt>
                <dd class="actions">
                    <form action="@routes.Jobs.dispatcher(job.id)" method="post">
                        <input type="hidden" name="uri" value="@{req.uri}">
                        <fieldset>
                            <legend>Job Controls</legend>
                            @defining(job.status){case status =>
                            @status match {
                                case "running" => {<button type="submit" name="action" value="stop" class="stop">@Messages("job.button.stop")</button>}
                                case "idle"    => {<button type="submit" name="action" value="run" class="run">@Messages("job.button.run")</button>}
                            }}
                            <button type="submit" name="action" value="delete" class="delete" title="@Messages("job.button.delete.title")">@Messages("job.button.delete")</button>
                        </fieldset>
                    </form>
                    <form class="search" action="@routes.Jobs.dispatcher(job.id)" method=get>
                        <fieldset>
                            <legend>Search</legend>
                            <input name=search type=text placeholder="Search" required value="@req.getQueryString("search")" @if(req.getQueryString("search") == None){class="cleared"}>
                            <!--<span>✘</span>-->
                            @if(req.getQueryString("search") != None) {
                            <a class="button clear" href="@Helper.clearParam("search")">@Messages("job.button.clear")</a>}
                            @if(req.getQueryString("group") != None) {
                            <input name=group type=hidden value="@req.getQueryString("group")">}
                            @if(req.getQueryString("filter") != None) {
                            <input name=filter type=hidden value="@req.getQueryString("filter")">}
                            @if(req.getQueryString("sort") != None) {
                            <input name=sort type=hidden value="@req.getQueryString("sort")">}
                            <button type=submit>@Messages("job.button.search")</button>
                        </fieldset>
                    </form>
                    <form class="group" action="@routes.Jobs.dispatcher(job.id)" method=get>
                        <fieldset class="dropdown">
                            <legend>Report by</legend>
                            <input name=group type=radio value="url" id="url" @if(req.queryString.get("group").flatten.isEmpty || req.queryString.get("group").flatten.exists(_ == "url")){checked}>
                            <label for="url">Group by url</label>
                            <input name=group type=radio value="message" id="message" @if(req.queryString.get("group").flatten.exists(_ == "message")){checked}>
                            <label for="message">Group by message</label>
                        </fieldset>
                        <button type=submit>Go</button>
                    </form>
                </dd>
            </dl>
            <hr>
        </article>