@(job: JobView)(implicit req: Request[_])

<article data-id="@job.id">
    @** <h2>Job: @job.name</h2> **@
    <dl>
        <dt>Job Name</dt>
        <dd class="name"><a href="@routes.Jobs.show(job.id)">@job.name</a></dd>

        <dt>URL</dt>
        <dd class="url">@job.url</dd>

        <dt>Status</dt>
        <dd class="status">@job.status</dd>

        <dt>Last Completed</dt>
        <dd class="completed">
        @job.lastCompleted match{
          case Some(date) => {
            <time datetime="@date">@Helper.formatTime(date)</time>
            <span class="legend">@Helper.formatLegendTime(date)</span>
            }
          case _ => {Never}
        }
        </dd>

        <dt>Warnings</dt>
        <dd class="warnings">@job.warnings</dd>

        <dt>Errors</dt>
        <dd class="errors">@job.errors</dd>

        <dt>Resources</dt>
        <dd class="resources">@job.resources</dd>

        <dt>Max resources</dt>
        <dd class="maxResources">@job.maxResources</dd>

        <dt>Health</dt>
        <dd class="health">
            <progress max=100 value=@job.health title="@job.health%">
                @job.health%
            </progress>
        </dd>

        <dt>Actions</dt>
        <dd class="actions">
            <form action="@routes.Jobs.dispatcher(job.id)" method="post">
                <fieldset>
                    <legend>Job Controls</legend>
                    <button type="submit" name="action" value="stop" class="stop">cancel</button>
                    <button type="submit" name="action" value="run" class="run">run now</button>
                    @**{job.status match {
                      case "running" => {<button type="submit" name="action" value="stop" class="stop">cancel</button>}
                      case "idle" => {<button type="submit" name="action" value="run" class="run">run now</button>}
                    }}**@
                    <button type="submit" name="action" value="delete" class="delete">delete</button>
                </fieldset>
            </form>
            <form class="search" action="@routes.Jobs.dispatcher(job.id)" method=get>
                <fieldset>
                    <legend>Search</legend>
                    <input name=search type=text placeholder="Search url" required value="@req.getQueryString("search")">
                    <!--<span>✘</span>-->
                    @if(req.getQueryString("search") != None) {
                    <a class="button" href="@Helper.clearParam("search")">Clear</a>}
                    <button type=submit>Search</button>
                </fieldset>
            </form>
            @**<form class="group">
                <fieldset>
                    <legend>Group</legend>
                    <input name=group type=radio value="url.assertor" id="url.assertor" @if(req.queryString.get("group").flatten.isEmpty || req.queryString.get("group").flatten.exists(_ == "url.assertor")){checked}>
                    <label for="url.assertor">Group by url</label>
                    <input name=group type=radio value="message.url" id="message.url" @if(req.queryString.get("group").flatten.exists(_ == "message.url")){checked}>
                    <label for="message.url">Group by message</label>
                    @**<input name=group type=radio value="message.context" id="message.context" @if(req.queryString.get("group").flatten.exists(_ == "message.context")){checked}>
                    <label for="message.context">Group by message and context</label>** @
                </fieldset>
                <button type=submit>Go</button>
            </form>**@
        </dd>
    </dl>
</article>