@(resource: ResourceView)

<hr />

<article>
    <dl>
        <dt>@Messages("resource.url")</dt>
        <dd class="url">
            <span>
                <a href="@Helper.encode(resource.url)">@Helper.shorten(resource.url, 80)</a>
                <a href="@resource.url" class="external" target="_blank" title="@Messages("resource.external.link")">link</a>
            </span>
        </dd>

        <dt>@Messages("resource.validated")</dt>
        <dd class="validated">
            <time datetime="@resource.lastValidated">@Helper.formatTime(resource.lastValidated)</time>
            <span class="legend">@Helper.formatLegendTime(resource.lastValidated)</span>
        </dd>

        <dt>@Messages("resource.warnings")</dt>
        <dd class="warnings"><span>@resource.warnings</span></dd>

        <dt>@Messages("resource.errors")</dt>
        <dd class="errors"><span>@resource.errors</span></dd>
    </dl>
</article>