@(assertor: AssertorView, collection: Option[Collection[Model]])
<article data-id="@assertor.id" class="@if(collection.isDefined && collection.get.isFilteredOn(assertor.id.toString)){current} @if(assertor.isValid){valid}">
        <dl>
            @AssertorView.definitions.map { definition =>
            <dt>@Messages(s"assertors.${definition.name}")</dt>
            <dd class="@{definition.name}">
            @definition.name match {

                case "name" => {
                <span data-name>@assertor.name</span>}

                case "warnings" => {
                <span data-warnings>@assertor.warnings</span>}

                case "errors" => {
                <span data-errors>@assertor.errors</span>}

                case "actions" => {
                @if(collection.isDefined) {
                <a href="@collection.get.filterOn(assertor.id.toString).goToPage(1).queryString" class="filter">filter</a>}}

            }}
        </dl>
        <hr/>
    </article>