@(assertor: AssertorView, assertions: Option[Collection[AssertionView]])
    <article data-id="@assertor.name" class="@if(assertions.isDefined && assertions.get.isFilteredOn(assertor.name)){current} @if(assertor.warnings + assertor.errors == 0){valid}">
        <dl>
            @AssertorView.definitions.map { definition =>
            <dt>@Messages(s"assertors.${definition.name}")</dt>
            <dd class="@{definition.name}">
            @definition.name match {

                case "name" => {
                <span>@Messages(s"assertor.${assertor.name}")</span>}

                case "warnings" => {
                <span>@assertor.warnings</span>}

                case "errors" => {
                <span>@assertor.errors</span>}

                case "actions" => {
                @if(assertions.isDefined) {
                <a href="@assertions.get.filterOn(assertor.name).goToPage(1).queryString">filter</a>}}

            }}
        </dl>
        <hr>
    </article>