@(resource: ResourceView, assertions: Option[Collection[AssertionView]])
    <article data-id="@resource.id">
        <dl>
            @ResourceView.definitions.map { definition =>
            <dt>@Messages(s"resources.${definition.name}")</dt>
            <dd class="@{definition.name}">
            @definition.name match {

                case "url" => {
                <a href="@routes.Assertions.index(resource.jobId, resource.url)" class="report" title="@Messages("report.link")">
                    <span>@Messages("resource.report.for")</span>
                    <span>@Helper.shorten(resource.url, 80)</span>
                </a>
                <br><a href="@resource.url" data-url="@resource.url" class="external" target="_blank" title="@Messages("resource.external.link")">@resource.url</a>}

                case "lastValidated" => {
                <time datetime="@resource.lastValidated" data-lastValidated="@resource.lastValidated" data-lastValidated-legend1="">@Helper.formatTime(resource.lastValidated)</time>
                <span class="legend" data-lastValidated-legend2="">@Helper.formatLegendTime(resource.lastValidated)</span>}

                case "warnings" => {
                <span data-warnings="">@resource.warnings</span>}

                case "errors" => {
                <span data-errors="">@resource.errors</span>}

                case "actions" => {
                @**********
                <form action="@routes.Jobs.report(resource.jobId, resource.url)" method="post">
                    @if(!assertions.isDefined) {<input type="hidden" name="uri" value="@routes.Jobs.show(resource.jobId)"/>}
                    <fieldset>
                        <legend>Controls</legend>
                        <button type="submit" name="action" value="revalidate" class="delete">@Messages("resource.button.revalidate")</button>
                    </fieldset>
                </form>
                *********@
                @if(assertions.isDefined) {
                @defining(assertions.get) { collection =>
                <form action="@routes.Assertions.index(resource.jobId, resource.url)" method="get" class="searchForm">
                    <fieldset>
                        <legend>Filter results</legend>
                        <input name="search" class="search" type="text" placeholder="Filter results" title="Filter results" value="@collection.params.search" @if(collection.params.search != None){class="clearable"} required/>
                        @if(collection.params.search != None) {
                        <a class="button clear" href="@collection.search().goToPage(1).queryString">@Messages("job.button.clear")</a>}
                        @collection.search().goToPage(1).queryParameters.map { param =>
                        <input name="@param.name" type="hidden" value="@param.value"/>}
                        <button type="submit" class="filter">@Messages("job.button.search")</button>
                    </fieldset>
                </form>
                }}}
            }}
        </dl>
        <hr/>
    </article>