logs
project/project
project/target
target
tmp
.settings/
lib_managed/
src_managed/
lift_example/
project/boot/
.classpath
.cache
.project
.manager
*~
*.class
*.log
*\#
logs
sbt-launch*.jar
.target
.scala_dependencies
Play20
test/observer/TempTest.scala
*.egp
.idea
.idea_modules
.ensime*
.externalToolBuilders
*.orig
occupop
data
http-cache
RUNNING_PID
test/resources/w3c-cache/*
\.#*
public/js
conf/application-dev.conf
conf/application-test.conf
debian/lib
debian/debian/vs
debian/debian/wgrep
debian/debian/vs.install
*.deb
*.build
*.changes
