body {
	font-family:sans-serif;
	font-size: 13px;
	color: #444;
}
ul {
	list-style-type: none;
	list-style-position: inside;
}

/* ############# Header ############# */
header {
	background:#F5F5F5;
	height:110px;
	text-align: right;
	border-bottom:1px solid #E5E5E5;
	font-size: 16px;
}
header svg {
	width:100px;
	height:100px;
	float:left;
	margin:10px 0 0 10px;
}
header h1 {
	font-size:1.8em;
	margin-top:29.8px;
	float:left;
	text-align:left;
}
header h1 a {
	text-decoration: none;
	color: inherit;
}
header a:active {
	outline:none;
}
header h1 span:first-child {
	font-weight:bold;
	text-transform: uppercase;
}
header h1 span:nth-child(2) {
	font-family: serif;
	display:block;
	font-style:italic;
	font-size:0.95em;
	position:relative;
	left:-7px;
	top:-2px;
}
header #admin {
	font-size: 12px;
	padding-right:10px;
	padding-top:88px;
}

/* ############# Form ############# */
#form {
	border-bottom:1px solid rgba(0,0,0,.1);;
	clear:both;
	padding: 20px;
	font-size:0; /* overided by next rule, aims to remove the added space between inline elements */
}
#form > * {
	display:inline-block;
}
form *, #progress, #status {
	font-size:13px;
}
form label {
	font-weight:bold;
	margin-right:10px;
}
#form * {
	vertical-align: middle;
}
form input {
	margin: 1px 15px 0 0;
}
form input[type=text] {
	border-radius: 2px;
	border: 1px solid #AAA;
	padding: 3px 5px;
}
form input[type=text]:focus {
	outline-color: rgba(0,0,0, 0.2); /* nice effect on chromium, gives nothing on all others as expected since style=none and width=0 by default */
}
form input[type=checkbox] {
	opacity: 0.7;
}
form input[name=url] {
	width:20em;
}
form input[name=distance] {
	width:1.5em;
}
form input[type=submit] {
	background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background: -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	border: 1px solid #AAA;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	color: #444;
	padding: 3px 12px;
}
#progress {
	margin-right:10px;
	height:15px;
	display:none;
}
#status {
	display:none;
}

/* ############# Stats ############# */
#stats {
	float:left;
	width:220px;
	height:120px;
	border-bottom:1px solid rgba(0,0,0,.1);;
	padding:20px;
}
#stats ul li {
	padding: 11px 0;
	border-bottom: 1px solid #E5E5E5;
}
#stats ul li:first-child {
	padding-top: 0;
}
#stats ul li:last-child {
	padding-bottom: 0;
	border: none;
}
#stats ul li span:first-child {
	display:inline-block;
	width:140px;
}
#stats ul li span:last-child {
	text-align:right;
	display:inline-block;
	width:80px;
}
#logs {
	position:relative;
	height:140px;
	border:solid rgba(0,0,0,.1);;
	border-width:0 0 1px 1px;
	padding:10px;
	overflow-y: auto;
	overflow-x: hidden;
	/*background-color:#F1F0F0;*/
	font-size:12px;
}
a.clear {
	position: absolute;
	right: 30px;
	margin-top: 10px;
	z-index:100;
	background-color:rgba(255,255,255,0.6);
}
#logs li {
	margin-top:2px;
}
#logs li span {
	display:inline-block;
}
#logs li.fetch span:first-child {
	min-width:3em;
}
#logs li.fetch span:nth-child(2) {
	min-width:2.9em;
}
#logs li.fetch span:nth-child(4) {
	font-weight: bold;
}
#logs li.fetch:not(.c200) :nth-child(2) {
	color:red;
}
#logs li.fetch.c401 :nth-child(2) {
	color:orange !important;
}
#logs li.error {
	color:red;
}
#logs li.status {
	color:green;
	font-weight: bold;
}
#logs li.status:before {
	content:"» ";
}
#logs li.status:after {
	content:"";
}
#logs li.obs.none {
	color:#777;
}
#logs li.obs .valid {
	color:green;
	font-weight: bold;
}
#logs li.obs .errors {
	color:red;
	font-weight: bold;
}
#logs li.obs .warnings {
	color:orange;
	font-weight: bold;
}

/*#logs:after {
    background-color: red;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    bottom: 110px;
    width: 100%;
}*/
#observations {
	padding:20px;
	clear: both;
}















