//@import 'libs/normalize.less';

@import 'libs/theme.less';
@import 'libs/utils.less';
@import 'colors.less';

@import 'inc/_reset.less';

@import 'inc/_main.less';

@import 'inc/_navigation.less';
@import 'inc/_messages.less';
@import 'inc/_actions.less';
@import 'inc/_list.less';
@import 'inc/_single.less';
@import 'inc/_jobs.less';
@import 'inc/_job.less';
@import 'inc/_resources.less';
@import 'inc/_resource.less';
@import 'inc/_assertors.less';
@import 'inc/_assertions.less';
@import 'inc/_pagination.less';
@import 'inc/_footer.less';
@import 'inc/_jobForm.less';
@import 'inc/_loginForm.less';
@import 'inc/_js.less';
@import 'inc/_sample.less';
@import 'inc/_print.less';

#choiceModal {
    button:hover, .button:hover, button:focus, .button:hover, .button:active {
        background: #FFAD21 !important;
    }

    button, .button {
        background: #F97F2D !important;
        border-color: #C47800;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
        border-radius: 1px;

        display: inline-block;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        position: relative;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding-top: 0.75em;
        padding-right: 1.5em;
        padding-bottom: 0.8125em;
        padding-left: 1.5em;
        font-size: 1em;
        color:  white;

        top: 0;
        right: 0;
        line-height: 1;
    }
}

#banner {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 25px !important;
    font-size: 16px;

    a:hover {
        text-decoration: none;
    }

}
@import 'inc/_banner.less';
@import 'inc/_nav.less';

@import 'libs/prism.less';

iframe {display: none;} // comet

.search input[type=text] {
    //font-size: 13px;
}

a.external {
    //display: inline-block;
    //margin-left: 5px;
    //width: 0;
    //height: 11px;
    //line-height: 11px;
    //overflow: hidden;
    //padding-left: 11px;
    text-decoration: underline;
    padding-right: 20px;
    background: url("../images/external.png") no-repeat center right;
    font-family: @baseFontFamily; // To overide in <code> elems
}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/*input:focus, button:focus {-moz-box-shadow:0 0px 3px #C80 !important;}*/

input,
select,
input[type="text"],
input[type="url"],
input[type="range"],
input[pattern] {
    font-size: 14px;
}

.button-shadow() {box-shadow: 1px 1px 1px #AAA;}
.button-border() {border: 1px solid #BBB; border-radius: 4px;}

.button-commons() {
    color: #333;
    text-shadow:
        1px 1px 1px white,
        1px 1px 1px white;
    //font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    font-family: @baseFontFamily;
    cursor: pointer;
    background-color: #F0F0F0;
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    cursor: pointer;
    .button-shadow();
    .button-border();
}

button,
.button {
    .button-commons();
    .border-sizing();
    display: inline-block;
    padding: 5px 12px;
    margin: 0;
    vertical-align: middle;
    text-align: center;

    &:hover {
        //text-decoration: none !important;
    }
}

a.button {
    color: #333;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button[disabled],
.button.disabled {
    color: grey !important;
}

.button.clear {
    margin-left: -0.8em;
    padding: 5px 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input:focus + .button.clear {
    //box-shadow: 0 0px 3px #C80;
}

span.legend {
    display: none; // don't display until js is implemented to increment
    font-size: 0.85em;
    color: #666;
    margin-top: 4px;
}



form.search input[type="text"],
input.search {
    padding: 5px 5px 4px 5px;
    margin: 0;

    .button-border();
    .button-shadow();

//&.cleared {
    width: 20em;

//}

    &.clearable {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 160px;
    }
}

input.search + .loader {
    margin-left: 0;
    margin-top: 5px;
    position: relative;
    left: -22px;
}

/* Group and search form */
//form.group {

fieldset.dropdown {

    display: inline;
    position: relative;
    .button-commons();

    legend, input {display: none}

    label {
        display: block;
        cursor: pointer;
        padding: 5px 22px 5px 10px;
        position: relative;

        &:hover {
            background: #EFEFEF;
        }

        &:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    input:checked + label {
        //color: #444;
    }
    /*:hover ~ * {
        vertical-align: bottom;
    }*/
    &:not(:hover):not(:focus) input:not(:checked) + label {
        //display:none;
        visibility: hidden;
        height: 0;
        padding: 0 22px 0 10px;
    }
    &:hover, &:focus {
        //top: 23px;
        z-index: 10;
        background: white;

        input + label:after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 5px;
            top: 7px;
            -webkit-border-radius: 1000px;
            border-radius: 1000px;
            border: solid 1px #888;
            background: white;
            z-index: 1;
        }

        input:checked + label:before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            position: absolute;
            right: 9px;
            top: 11px;
            -webkit-border-radius: 1000px;
            border-radius: 1000px;
            background: #222222;
            z-index: 2;
        }
    }
    /* fieldset:hover {
        min-width: 202px; // XXX: hmmm...
    }*/
    &:not(:hover):not(:focus):after {
        content: "";
        display: block;
        position: absolute;
        right: 7px;
        top: 11px;
        width: 0px;
        height: 0px;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 4px solid #444444;
        margin-bottom: 3px;
        margin-left: 3px;
    }
    /*button {
        //vertical-align: bottom;
        position: absolute;
        //top: -1px;
        top: 0px;
        right: -51px;
    }*/
}

.loader {
    background: url("../images/loader.gif") no-repeat 50% 50%;
    display: inline-block !important;
    height: 16px;
    width: 16px;
    vertical-align: sub;
    margin: 0 5px;
}


/* https://lists.w3.org/Archives/Team/team-vs/2013Aug/att-0010/ValidatorSuiteA11y.html */

:focus {
    outline: 3px solid orange;
}

#main {
    padding-bottom: 57px;
}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.45);
    z-index: 98;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    visibility: hidden;
    display: none;
    position: absolute;
    left: 50%;
    z-index: 99;
    height: auto;
    background-color: #fff;
    margin-left: -40%;
    width: 80%;
    background-color: white;
    padding: 1.25em;
    border: solid 1px #666666;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    top: 50px;
}

.reveal-modal .column,
.reveal-modal .columns {
    min-width: 0;
}

.reveal-modal >

:first-child {
    margin-top: 0;
}

.reveal-modal >

:last-child {
    margin-bottom: 0;
}

.reveal-modal .close-reveal-modal {
    font-size: 1.375em;
    line-height: 1;
    position: absolute;
    top: 0.5em;
    right: 0.6875em;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (min-width: 48em) {
    .reveal-modal {
        padding: 1.875em;
        top: 6.25em;
    }

    .reveal-modal.tiny {
        margin-left: -15%;
        width: 30%;
    }

    .reveal-modal.small {
        margin-left: -20%;
        width: 40%;
    }

    .reveal-modal.medium {
        margin-left: -30%;
        width: 60%;
    }

    .reveal-modal.large {
        margin-left: -35%;
        width: 70%;
    }

    .reveal-modal.xlarge {
        margin-left: -47.5%;
        width: 95%;
    }
}

#choiceModal {
    font-size: 1.3em;
    .msg {
        //margin-top: 0.5em;
        line-height: 1.3;
    }
    .choices {
        float: right;

    }
}

@import "inc/_common.less";

#banner img {
    height: 80px;
    width: 336px;

}
#banner .logo {
    float: left;
    padding-bottom: 0.5em;
}
.mainNav {
    position: absolute;
}
.hello {
    position: absolute;
}

.js form .filter {
    display: none !important;
}

#banner {
    border-bottom: none;
}

.messages {
    padding: 10px 10px 0 10px;
    line-height: 1.5;
}

.stop {
    background: transparent;
    color: #000000;
}