<configuration>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%level)] %logger - %message%n%xException{40}</pattern>
        </encoder>
    </appender>

    <logger name="org.w3.vs" level="INFO" />
    <logger name="controllers" level="INFO" />

    <!-- External libraries to silence -->
    <logger name="com.gargoylesoftware.htmlunit" level="DEBUG" />
    <logger name="org.eclipse.jetty.server" level="ERROR"/>
    <logger name="reactivemongo" level="ERROR"/>

    <!-- activate those loggers for more resource fetching info -->
    <!--logger name="org.w3.vs.actor.JobActor" level="DEBUG" />
    <logger name="org.w3.vs.http.Cache" level="DEBUG" /-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
  
</configuration>