<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
     <file>./logs/application-test.log</file>
     <encoder>
       <pattern>%date [%level] %logger{15} - %message%n%xException{40}</pattern>
     </encoder>
   </appender>

  <appender name="ORDERS" class="ch.qos.logback.core.FileAppender">
    <file>./logs/orders-test.log</file>
    <encoder>
      <pattern>%date [%level] %message%n%xException{40}</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger - %message%n%xException{40}</pattern>
    </encoder>
  </appender>
  
  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="org.w3.vs" level="DEBUG" />
  <logger name="org.w3.vs.actor.JobActor" level="INFO" />
  <logger name="org.w3.vs.http.AuthorityManagerr" level="INFO" />

  <!-- External libraries to silence -->
  <logger name="com.gargoylesoftware.htmlunit" level="OFF" />
  <logger name="org.eclipse.jetty.server" level="ERROR"/>
  <logger name="reactivemongo" level="ERROR"/>

  <!-- activate those loggers for more resource fetching info -->
  <!--logger name="org.w3.vs.actor.JobActor" level="DEBUG" />  
  <logger name="org.w3.vs.http.Cache" level="DEBUG" /-->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
