@(page: Page[JobView])

        <aside>
            <h3>Definitions</h3>
            <dl>
                @JobView.params.map {param =>
                <dt class="@param"><dfn>@Messages("job.%s" format param)</dfn>@libs.sort(page, param)</dt>
                <dd>@Messages("job.%s.detail" format param)</dd>
                }
                <dt class="actions"><dfn>@Messages("job.actions")</dfn></dt>
                <dd>@Messages("job.actions.detail")</dd>
            </dl>
        </aside>

        @page.iterator.map { case job => @models.job(job)}
