@(page: Page[ResourceView], job: JobView)(implicit req: Request[_])

        <aside>
            <h3>Definitions</h3>
            <dl>
                @ResourceView.params.map { param =>
                <dt class="@param"><dfn>@Messages("resource.%s" format param)</dfn> @libs.sort(page, param)</dt>
                <dd>@Messages("resource.%s.detail" format param)</dd>}
                <dt class="actions"><dfn>@Messages("resources.actions")</dfn></dt>
                <dd>@Messages("resources.actions.detail")</dd>
            </dl>
            <hr>
        </aside>

    @defining(page.iterator) { case iterator =>

        @iterator.map { case resource => @models.resource(resource, job.id) }

        @if(iterator.size < 1) {
        <article>
            <p>
                @Messages("resources.empty")
                @if(job.status == "idle") { @** TODO type job.status **@
                <!--<a href="#">@Messages("job.run")</a>-->}
            </p>
        </article>
        }
    }
