.resource,
.url {

    br {display: none;}

    .count {
        background-color: #3a87ad;
        font-weight: bold;
        line-height: 14px;
        color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        padding: 2px 4px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        vertical-align: baseline;
        font-size: 0.9em;
    }

    .report {

        &:hover {
            //text-decoration: none;
        }

        span:first-child {
            background: url("../images/magnify.svg") no-repeat 0 0;
            background-size: 13px 16px;
            padding: 0 14px 0 0;
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 16px;
            font-size: 0;
            overflow: hidden;
            //margin-right: 3px;
        }

        span:last-child {
            color: #222;
            font-weight: bold;
            text-decoration: underline;
        }

        &:hover {
            span:first-child {
            //text-decoration: none;
            }
            text-decoration: none;
            span:last-child {
                text-decoration: underline;
            }
        }
    }


}

.report ~ .external {
    overflow: hidden;
    display: inline-block;
    width: 0;
    height: 16px;
    //line-height: 16px;
    padding: 0 0 0 11px;
    overflow: hidden;
    margin-left: 5px;
    vertical-align: middle;
    background-position: 0 0;
}


#resources.list {

    aside.jsFixed {
        min-width: @bodyW;
        display: table !important;
        width: 100%;
        position: fixed;
        top: 0;
    }

    article {
        .warnings, .errors {text-align: right;}
    }

    .validated {
        width: 150px;
    }

    .warnings,
    .errors {
        width: 75px;
    }

    .external {
        display: none;
        /*width: 0;
        height: 13px;
        line-height: 11px;
        padding: 0 0 0 11px;
        overflow: hidden;
        margin-left: 5px;
        vertical-align: middle;
        background-position: 0 0;*/
    }

    article .report {
        margin-right: 20px
    }
    article:hover .report {
        margin-right: 0
    }

    article:hover .external {
        display: inline-block;
    }

    .actions {display: none;}

}