@(collection: Collection[Model])
    <section id="@collection.id" class="@collection.classe" @collection.attributes.map{attr => data-@attr.name="@attr.value"}>
        <h2>@Messages(s"${collection.id}.col.title")</h2>

        <aside>
            <h3>@Messages("collection.definitions")</h3>
            <dl>
                @collection.definitions.map { definition =>
                <dt class="@definition.name">
                    <dfn>@Messages(s"${collection.id}.${definition.name}")</dfn>
                    @if(definition.isSortable){@libs.sort(collection, definition.name)}
                </dt>
                <dd>@Messages(s"${collection.id}.${definition.name}.detail")</dd>}
            </dl>
            <hr/>
        </aside>

        @collection.iterable.map { view =>
        @view.toHtml}

        @if(collection.isEmpty) {
        <p class="empty">
            @collection.emptyMessage
        </p>}

        @collection.jsTemplate

    </section>