
/* From default VS style with minor modifications */

body{color:#333;width:100%;height:100%;position:absolute;min-width:950px;-moz-box-sizing:border-box;box-sizing:border-box;}body>header{position:absolute;width:100%;top:0;z-index:1;}
body{padding-top:61px;padding-bottom:50px;}body>header{height:60px;}
body>footer{height:40px;padding:5px 0;}
#main{min-height:100%;position:relative;}
#main>*{padding:10px;}
#main>:last-child{border-bottom:none;}
#jobs>h1,#nav>h1,#admin>h1,#messages>h1,#crumbs>h1,hr,.list aside dd,.list aside h2,.list aside h3,.list article dt{display:none;}
a:link,a:visited{color:#0066CC;text-decoration:none;}
a:link:hover{text-decoration:underline;}
dd.warnings{color:#C17400;font-weight:bold;}
dd.errors{color:#C11D13;font-weight:bold;}
.list,footer,#crumbs,#messages{background-image:url('images/texture.gif');}
body>header{background:url("images/w3c.svg") no-repeat right center #2571ab;box-shadow:0 1px 0 #4e90c2, 0 2px 0 #1a4a78;-moz-box-shadow:0 1px 0 #4e90c2, 0 2px 0 #1a4a78;-webkit-shadow:0 1px 0 #4e90c2, 0 2px 0 #1a4a78;}
body>header h1{display:inline-block;padding:8px 10px 7px 10px; margin:0}
body>header h1 a{text-decoration:none;color:white !important;display:block;text-shadow:1px 1px 0 #1a4a78;margin:0;}
body>header h1 a:link:hover{text-decoration:none;}
body>header h1 a:active{outline:none;}
body>header h1 a:focus{outline:none;}
body>header h1 img{vertical-align:top;height:45px;width:48px;}
body>header h1 span:nth-child(2){display:inline-block;text-transform:uppercase;position:relative;top:-3px;left:-9px;font-size:16px;font-family:Arial,sans-serif;font-weight:bold;}
body>header h1 span:nth-child(3){font-size:15px;font-family:"Times New Roman",serif;font-style:italic;position:absolute;left:54px;top:32px;}
body>header #admin{position:absolute;bottom:10px;right:10px;}





#page {
	margin-left: auto;
	margin-right: auto;
	width: 730px;
}
a, a:hover, a:visited {
	color: #0085cf;
}
#head {
	clear: both;
	width: 730px;
	margin-top: 1em;
}
#guide {
	width: 730px;
	font-size: 14px;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	background: url(head-corners-tile.png) repeat-x;
	letter-spacing: 1px;
	padding: 12px;
	-moz-box-shadow: 2px 3px 3px #aaa;
	-webkit-box-shadow: 3px 4px 4px #aaa;
	border: 1px #cdcdcd solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border: 1px solid #aaa;
}
#content {
	width: 730px;
	margin-left: auto;
	margin-right: auto;
	background: inherit;
	padding: 10px;
}
#head-security {
	text-align: right;
	padding-right: 1em;
	background: url(fs_secure-ordering.png) no-repeat left;
	background-position: 400px 20px;
}
/**
 * Switches
 */

/* No security info */
.ns #head-security {
	display:none;
}
/* No header */
.nh #head {
	display:none;
}
/**
 * Override
 */

.store-order-action-list li {
	white-space: normal !important; /* france length */
}
.core-form-field-required .core-form-field-label {
	font-weight: bold;
}
.core-form-field-group + .core-form-field-group {
	margin-top: 2em;
}
.core-form-field-label {
	margin-bottom: 4px;
}
.core-body-window .core-section {
	width: 730px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	margin-top: 2em;
}
.core-body-window .core-section-header {
	background: #2571AB;
	margin: 0px;
	font-size: 12px;
	padding-left: 10px;
	color: white;
	padding: 10px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px #666;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-radius-topright: 10px;
	border-radius-topleft: 10px;
	border-radius-topright: 10px;
}
.core-body-window .core-section-body {
	padding: 2em;
	border: 1px solid #aaa;
	background: #f8f8f8;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomright: 10px;
	border-radius-bottomleft: 10px;
	border-radius-bottomright: 10px;
}
.store-footer {
	background: #fff url(footer-bg2.gif) repeat;
	color: #bbb;
	margin-bottom: 30px;
	padding: 2em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.store-footer a:link, .store-footer a:visited {
	color: #00bfff;
}
.store-footer a:hover {
	color: #ffa500;
	text-decoration: none;
}
.store-product-detail-description-short {
	margin-left: 1em;
}
.store-product-list-item {
	margin-bottom: 0;
}
.store-product-list-item-title {
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px #ddd;
}
.store-product-list-item-description {
	margin-top: 1em;
}
.store-product-detail {
	line-height: 1.4em;
}
.store-product-detail-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
	margin-right: 1em;
	text-shadow: 2px 2px 2px #ddd;
	letter-spacing: 1px;
}
.core-form-field-group-header, .store-product-list-item-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-right: 1em;
}
.store-page-navigation {
	border-top: 1px dotted #ddd;
}
.store-product-detail-quantity {
	margin-top: 10px;
}
.store-product-detail-description, .store-product-list-item-description {
/*	text-align: justify;*/
	margin-bottom: 1em;
}
.store-product-option-groups {
	padding-left: 1em;
	padding-right: 1em;
}
.core-form-field-body-note {
	font-size: 10px;
	margin-top: 4px;
	color: #666;
}
