@(form: Form[Job], user: User)(implicit req: RequestHeader)

<div class="column">

    <h1 class="formHeader">Create a new job</h1>

    @helper.form(action = routes.Jobs.createAction(), 'class -> "vsForm") {

    @api.formErrors(form)

    @api.input(
        form("name"),
        '_required -> true,
        'type -> "text")

    @api.input(
        form("entrypoint"),
        '_required -> true,
        'type -> "url")

    @api.input(
        form("maxPages"),
        '_required -> true,
        'min -> 1,
        'max -> 2000,
        'step -> 1,
        'type -> "range")

    @api.requiredFields()

    @api.submit(
        "Create",
        '_disabled -> (user.credits <= 0),
        'name -> "action",
        'value -> "create")

    }

</div>