@(form: Form[Job], user: User)(implicit req: RequestHeader)

@requiredSpan = {<span class="required" title="This field is required">*</span>}

@checkIfPlan(name: String) = {
    @req.getQueryString("plan") match {
        case Some(`name`) => {checked="checked"}
        case None if name == "tiny" => {checked="checked"}
        case _ => {}
    }
}

<div class="column">

    <h1 class="formHeader">Create a new job</h1>

    <form method="post" action="@routes.Jobs.create.url" class="vsForm">

        @**<div class="row">
            <div class="large-9 large-offset-3 columns">
                <p>
                    /*Purchase a new W3C Validator Suite<span class="tm">™</span> <strong>One Time</strong> service job.
                    Your website HTML and CSS content will be checked for validity and
                    internationalization-friendliness.
                    A single validation job will be performed on your website.*/
                </p>
            </div>
        </div>**@

        @if(form.errors.size > 0) {
        <div class="row">
            <div class="column large-9 large-offset-3 formErrors">
                @libs.messages2(form.errors.map(f => ("error", Messages(f.key+"."+f.message))).toList)
            </div>
        </div>
        }

        <div class="row">
            <div class="small-3 columns">
                <label for="name" class="right inline">
                    Job Name@requiredSpan
                </label>
            </div>
            <div class="small-9 columns">
                <input id="name" name="name" type="text" value='@form("name").value' required="required"
                       placeholder="A display name for this job"/>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <label for="entrypoint" class="right inline" title='@Messages("jobs.entrypoint.detail2")'>
                    @Messages("jobs.entrypoint")@requiredSpan
                </label>
            </div>
            <div class="small-9 columns">
                <input id="entrypoint" name="entrypoint" type="url" value='@form("entrypoint").value'
                       required="required" placeholder='@Messages("jobs.entrypoint.detail")'/>
            </div>
        </div>

        <div class="row">

            <div class="small-3 columns">
                <label for="maxPages" class="right inline" title='@Messages("jobs.maxPages.detail")'>
                    @Messages("jobs.maxPages")@requiredSpan
                </label>
            </div>
            <div class="small-9 columns range">
                <input id="maxPages" name="maxPages" type="range" min="1" max="@{scala.math.min(user.credits, 2000)}" value='@form("maxPages").value'
                       step="1" required="required" placeholder='@Messages("jobs.maxPages.detail")'/>
            </div>

        </div>

        <div class="row">
            <p class="column small-9 small-offset-3 compact"><span class="vats">Fields marked with an asterisk (*) are required.</span></p>
        </div>

        @**<div class="row">
            <div class="small-3 columns">
                <input id="terms" type="checkbox" required="required" name="terms" class="right"
                @form("terms").value.map{_ => checked="checked"}>
            </div>
            <div class="small-9 columns">
                <label for="terms">
                    I agree to the <a href="@routes.Application.terms.url" target="_blank">Terms and Conditions</a>@requiredSpan
                </label>
            </div>
        </div>**@

        @**
        <div class="row fsNotice">
            <div class="column large-9 large-offset-3">
                <p>
                    <img src='@routes.Assets.at("images/fs-secure.png")' alt="FastSpring "
                         title="Secure ordering by FastSpring" class="right"/>
                    To complete your order you will be redirected to FastSpring, our payment partner who accepts
                    payments by Credit Cards or PayPal.
                </p>
            </div>
        </div>
        **@

        <div class="row">
            <div class="large-4 columns large-offset-3">
                <button type="submit" name="action" value="create">Create</button>
            </div>
            @**
            <div class="large-4 columns paymentLogos">
                <img src='@routes.Assets.at("images/paymentLogos.png")'
                     alt="Visa, MasterCard, Maestro, American Express, PayPal" title="Accepted payment methods"/>
            </div>
            **@
        </div>

    </form>

</div>