@(registerForm: Form[Register] = RegisterForm, withModal: Boolean = true)

<div class="column">

    <h1 class="formHeader" tabindex="0">Register</h1>

    @helper.form(action = routes.Application.registerAction(), 'class -> "vsForm") {

    @api.topLabel {
        @Messages("notice.registerNow").
        If you already have an account, <a @if(withModal) {data-reveal-id="loginModal"} href="@routes.Application.login.url">login</a>.
    }

    @api.formErrors(registerForm)

    @api.input(
        registerForm("userName"),
        '_required -> true,
        'autocomplete -> "off")

    @api.input(
        registerForm("r_email"),
        '_required -> true,
        'autocomplete -> "off",
        'type -> "email")

    @api.input(
        registerForm("r_password"),
        '_required -> true,
        'autocomplete -> "off",
        'pattern -> ".{6,}",
        'type -> "password")

    @api.input(
        registerForm("r_password2"),
        '_required -> true,
        'autocomplete -> "off",
        'pattern -> ".{6,}",
        'type -> "password")

    @api.input(
        registerForm("coupon"),
        'type -> "text",
        'autocomplete -> "off")

    @api.input(
        registerForm("optedIn"),
        'type -> "checkbox",
        'value -> "true")

    @api.requiredFields()

    <div class="row">
        <div class="small-5 small-offset-3 columns">
            <input type="hidden" name="uri" value='@registerForm("uri").value'>
            <button type="submit">Register</button>
        </div>
        <div class="column small-4 disclaimer">
            <p>By clicking "Register", you agree to our<br> <a href="@routes.Application.terms.url">terms of service</a> and <a href="@routes.Application.privacy.url">privacy policy</a>.</p>
        </div>
    </div>

    }
</div>