@(form: Form[(String)])

@requiredSpan = {<span class="required" title="This field is required">*</span>}

<div class="column">

    <h1 class="formHeader">Reset your password</h1>

    <form method="post" action="@routes.PasswordReset.resetRequestAction" class="vsForm">

        <div class="row">
            <div class="column large-9 large-offset-3">
                <p class="topLabel">@Messages("resetRequestNotice")</p>
            </div>
        </div>

        @if(form.errors.size > 0) {
        <div class="row">
            <div class="column large-9 large-offset-3 formErrors">
                @libs.messages2(form.errors.map(f => ("error", Messages(f.key+"."+f.message))).toList)
            </div>
        </div>}

        <div class="row">
            <div class="small-3 columns">
                <label for="reset_email" class="right inline" aria-describedby="req">Email@requiredSpan</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="reset_email" name="reset_email" placeholder="Email address" required="required" />
            </div>
        </div>

        <div class="row">
            <div class="column large-4 large-offset-8 small-9 small-offset-3">
                <button id="submit-reset" name="submit" value="reset" type="submit">Submit</button>
            </div>
        </div>

    </form>
</div>