@(form: Form[Reset] = ResetForm, id: PasswordResetId)

<div class="column">
    <h1 class="formHeader">Reset your password</h1>

    @helper.form(action = routes.PasswordReset.resetAction(id), 'class -> "vsForm") {

    @api.topLabel { Messages("resetNotice") }

    @api.formErrors(form)

    @api.input(
        form("reset_email"),
        '_required -> true,
        'autocomplete -> "off",
        'type -> "email")

    @api.input(
        form("reset_password"),
        '_required -> true,
        'autocomplete -> "off",
        'type -> "password")

    @api.input(
        form("reset_password2"),
        '_required -> true,
        'autocomplete -> "off",
        'type -> "password")

    @api.requiredFields()

    @api.submit("Submit")

    }
</div>