@(userForm: Form[Account], passwordForm: Form[Password], couponForm: Form[String], user: User)(implicit req: RequestHeader)

@creditClass(credits: Int) = {@credits match {
    case n if n <= 0 => {class="credits critical"}
    case n if n <= 50 => {class="credits warn"}
    case _ => {class="credits"}
}}

<div class="column">

    <h1 class="formHeader">My Account</h1>

    <div class="vsForm">
        <div class="row">
            <div class="column large-9 large-offset-3">
                <p class="noMargin">
                    You have <strong @creditClass(user.credits)>@user.credits</strong> page validation credits left.<br/>
                    <a href="@routes.Application.pricing">Buy additional credits</a>
                </p>
                @helper.form(action = routes.User.editAction(), 'class -> "") {
                    @api.formErrors(couponForm)
                    @api.input(
                        couponForm("coupon"),
                        '_required -> true)
                    @api.submit("Redeem")
                }
            </div>
        </div>
    </div>

    <h1 class="formHeader">User Information</h1>

    @helper.form(action = routes.User.editAction(), 'class -> "vsForm") {

    @api.formErrors(userForm)

    @api.input(
        userForm("u_userName"),
        '_required -> true)

    @api.input(
        userForm("u_email"),
        '_required -> true,
        'type -> "email")

    @api.input(
        userForm("u_optedIn"),
        'type -> "checkbox",
        'value -> "true")

    @api.requiredFields()

    @api.submit("Save")

    }

    <h1 class="formHeader">Change password</h1>

    @helper.form(action = routes.User.changePasswordAction(), 'class -> "vsForm") {

    @api.formErrors(passwordForm)

    @api.input(
        passwordForm("p_current"),
        '_required -> true,
        'autocomplete -> "off",
        'type -> "password")

    @api.input(
        passwordForm("p_new"),
        '_required -> true,
        'autocomplete -> "off",
        'pattern -> ".{6,}",
        'type -> "password")

    @api.input(
        passwordForm("p_new2"),
        '_required -> true,
        'autocomplete -> "off",
        'pattern -> ".{6,}",
        'type -> "password")

    @api.requiredFields()

    @api.submit("Save")

    }

</div>