#admin {
	position: absolute;
	right: 0;
	top: -65px;
	z-index: 2;
	border-bottom: none;
	text-align:right;
}
#admin > * {
	margin-bottom:10px;
}
#admin .type {
	background: #D2D2D2;
	padding:2px 4px 2px 4px;
	border-radius:3px;
	text-transform: uppercase;
	font-size: 0.85em;
}
#admin dt {
	display:none;
}
#admin dd {
	display:inline;
}
#admin .type {
	margin-left:10px;
}
#admin li {
	display:inline;
}
#admin li:not(:first-child) {
	margin-left:10px;
}