#jobForm {

    //width: 70%;
    //padding: 17px 15% 10px 15%;
    padding: 20px;
    line-height: 2em;

    box-shadow:
        inset 0 1px 0 #699FC7,
        inset 0 2px 0 #216FAD,
        inset 0 3px 0 #216FAD,
        inset 0 4px 0 #216FAD,
        inset 0 5px 0 #104176;
    -moz-box-shadow:
        inset 0 1px 0 #699FC7,
        inset 0 2px 0 #216FAD,
        inset 0 3px 0 #216FAD,
        inset 0 4px 0 #216FAD,
        inset 0 5px 0 #104176;
    -webkit-shadow:
        inset 0 1px 0 #699FC7,
        inset 0 2px 0 #216FAD,
        inset 0 3px 0 #216FAD,
        inset 0 4px 0 #216FAD,
        inset 0 5px 0 #104176;

    h1 {
        text-transform: uppercase;
        font-family: 'LeagueGothicRegular', Arial, sans-serif;
        font-size: 26px;
        color: #043255;
        color: #2571AB;
        font-weight: normal;
        margin: 10px 0;
    }

    // ############

    form > label  {
        min-width: 120px;
        border-right: 1px solid #CCC;
        font-weight: bold;
    }

    fieldset {
        label:first-of-type,
        br + label {
            min-width: 120px;
            border-right: 1px solid transparent;
        }
    }

    input,
    select,
    input[type="text"],
    input[type="url"],
    input[type="range"],
    input[pattern] {
        font-size: 13px;
        margin: 0 0 0 5px;
    }

    input[type="checkbox"] {
        margin: 0 3px 0 5px;
    }

    input[name="name"],
    input[name="entrypoint"] {
        width: 280px;
    }

    label {
        display: inline-block;
        text-align: right;
        padding-right: 6px;
    }
    input + label {
        display: inline;
    }
    .assertor {
        padding: 5px 0 5px 0px;
        background: #F3F3F3;
        border-radius: 4px;
        label {
            font-style: italic;
            color: #555;
        }
        legend {display: none;}
    }

    .validator_html,
    .validator_nu {
        select {min-width: 280px;}
        input[pattern],
        input[type="text"],
        input[type="url"] {min-width: 275px;}
    }

    .validator_nu {
        br + input {
            margin-left: 108px;
            margin-right: 10px;
        }
    }

    .validator_css {
        label  {min-width: 120px;}
        select {min-width: 150px;}
    }

    input[name="assertor[]"]:not(:checked) + fieldset {
        height: 0;
        padding: 0;
        overflow: hidden;
    }

    input[name="assertor[]"]:not(:checked) + fieldset * {
        display: none; // Firefox doesn't hide inside elements with the fieldset overflow:hidden alone
    }

    button {
        margin: 7px 0 0 127px;
    }
}
