
@rb-width: 70px;
@rb-padding: 20px;
@rb-border: 1px solid #C8C8C8;
@rb-background: #F6F7F9;

#jobs.single {

    padding-bottom: 15px;

    aside {
        dt {
            &.health,
            &.actions,
            &.maxResources {
                display: none;
            }
        }
        .warnings,
        .errors,
        .resources {
            width: @rb-width;
            background: @rb-background;
            border-top: @rb-border;
            //position: relative;
            //top: -20px;
            //right: -10px;
        }
        .warnings {
            border-left: @rb-border;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            padding-left: @rb-padding;
        }
        .resources {
            border-right: @rb-border;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
            padding-right: @rb-padding;
        }
    }

    article {
        .name a {
            color:black;
        }
        dd {
            &.maxResources {
                display: none
            }
            &.health,
            &.actions {
                display: block;
                position: absolute;
            }
            &.health {
                right: 20px;
                bottom: 25px;
            }
            &.actions {
                left: 10px;
                bottom:10px;

                form {
                    display: inline;
                }

                .delete {
                    display: none;
                }

            }
        }
        .warnings,
        .errors,
        .resources {
            background: @rb-background;
            padding-bottom: 30px;
            border-bottom: @rb-border;
            //position: relative; // ff does not allow relative positioning of table displayed elements
            //top: -20px;
            //right: -10px;
        }
        .warnings {
            border-left: @rb-border;
            padding-left: @rb-padding;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
        }
        .resources {
            border-right: @rb-border;
            padding-right: @rb-padding;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;
        }
        .health {
            progress {
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 3 * @rb-width + 2 * @rb-padding - 18px;
                height: 15px;
            }
        }
    }
}