

#jobs article .name a {
	//color: black;
	font-weight: bold;
	//text-decoration: underline;
}
#jobs article .status {
	text-transform: capitalize;
}

#jobs.list {

    .search, .maxResources {display: none}
    .name {min-width: 60px}

}

/* job meta on report page */
/*.job {}
.job {
	display:table;
	width:100%;
	border-bottom:0 !important;
	padding-bottom:0 !important;
    border-collapse:collapse;
}
.job div {
	display:table-cell;
	padding:0 5px;
}
.job div:first-child {
	padding-left:0;
}
.job div:last-child {
	padding-right:0;
}
.job h2 {
	color:grey;
	font-size:0.90em;
	margin-bottom: 5px;
}
.job div span {
	font-size:1.1em;
}
.job .errorsC,
.job .warningsC,
.job .resourcesC {
	text-align: center;
}
.job form {
	display:inline;
}*/

/*#jobs {*/
/* http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/ */
progress{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 50px;
	height: 13px;
	border: 1px solid black;
	border-radius: 2px;
	color: #00B05B; //3bbc00; // IE10? TODO Remove styles for IE9-
	background: #bb1e17;
	//margin-bottom: 0px;

	&::-webkit-progress-bar {
		background: #bb1e17;
	}
	&[value="0"] {
		background: #d2d2d2;
	}
	&[value="0"]::-webkit-progress-bar {
		background: #d2d2d2;
	}
	&::-moz-progress-bar {
		background: #00B05B; //3bbc00;
	}
	&::-webkit-progress-value {
		background: #00B05B; //3bbc00;
	}
}
/*}*/