#resources .warnings,
#resources .errors {
    //width: 80px;
}
#resources .time {
    //min-width: 150px;
}
#resources.list article .warnings,
#resources.list article .errors {
	text-align: right;
}
#resources {

    .external {
        display: none;
        width: 0;
        height: 11px;
        line-height: 11px;
        overflow: hidden;
        padding-left: 11px;
        background: url("../images/external.png") no-repeat;
    }

    article:hover .external {
        display: inline-block;
    }
}