
.bodyLayout(@h, @f) {
	body {
		padding-top: @h + @borderSize;
		padding-bottom: @f + @borderSize;
		> header {
			height: @h;
		}
		> footer {
			height: @f - (2 * @spacing);
			padding: @spacing 0;
		}
	}
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
	min-width: @bodyW;
	.border-sizing;
	> header {
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 1;
		border-bottom: @borderSize solid @borderColor;
	}
	> footer {
		border-top:1px solid @borderColor;
	}
}

.bodyLayout(@headerH, @footerH);

#main {
	min-height: 100%;
	position: relative;
}
#main > * {
	padding: @spacing;
	border-bottom:1px solid @borderColor;
	overflow: auto;
}
#main > :last-child {
	border-bottom: none;
}
#main > .list {
	padding: 0;
}

.structureMedia () {
/* 	@media screen and (min-width: @bodyW) { */
/* 		.header(100px, 10px); */
/* 		.bodyLayout(100px, @footerH); */
/* 	} */
}
