@import 'libs/_theme.less';
@import 'libs/_utils.less';
@import 'inc/_reset.less';
@import 'inc/_structure.less';
@import 'inc/_header.less';

.structureMedia;

/* Smooth UI. That's a bit severe 
body * {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
body {
	-webkit-transition: padding 0.2s linear;
	-moz-transition:  padding 0.2s linear;
	-o-transition:  padding 0.2s linear;
	transition:  padding 0.2s linear;
}*/

#crumbs li {display:inline;}
#crumbs li:after {content: " | "}
#crumbs li:last-child:after {
	content:"";
	display:none;
}

#toolbar {
	background: @headerBgColor;
}
body > footer {
	background: @headerBgColor;
}

.job button {
	border:none;
	background:none;
	cursor:pointer;
	margin:0;
	padding:0;
	text-decoration:underline;
	color:blue;
	line-height: 1em;
}
.job {overflow: auto;}
.job > div {
	font-size:0;	
}
.job > div > * {
	font-size:13px;
	display:inline-block;
	vertical-align:top;
	line-height:1.2em
}
.job > div > *:first-child {width:50%;}
.job > div > *:nth-child(2) {width:33%;}
.job > div > *:last-child {width:17%;}
.job form {line-height:1.2em}
.job form button {display:block; float:right; clear:right;}
.job a {float:right; clear:right;}
.job .report {}
.job .filters h1 {
	display:inline;
	font-size:1.1em;
	border:solid #e5e5e5;
	border-width: 1px 1px 0 1px;
	padding:5px;
	margin-right:10px
}
#main > section.job {
	padding-bottom:0;
	border-bottom:0;	
}
section.job > div {
	padding:10px;
	border: 1px solid #e5e5e5;
}





/* Report */

#report {
	padding: 10px !important;
}

#report article {
	width:100%;
	padding:0;
}
#report article > div {
	border-bottom: none;
}
#report article > div:last-child {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin-bottom: -1px;
}
#report article:focus > div:last-child,
#report article:target > div:last-child {
	height: auto;
	padding: 10px;
	margin-bottom: 0;
}
#report article:focus:before {
	content:"";
	display:block;
}
#report article:last-child > div:last-child {
	border-bottom: 1px solid #e5e5e5;
}
#report article .resource {
	text-decoration:none;
	color:#02579e;
	font-weight:bold;
}
#report article a.resource:visited {
	color:#02579e;
}
#report article a.resource:before {
	content:"";
	display:inline-block;
	width:0px;
	height:0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #444444;
	margin-right:5px;
}
#report article:focus a.resource:before,
#report article:target a.resource:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
#report article .meta {
	float: right;
}
#report article .meta li {
	display: inline;
}
#report article .assertor {
	font-style:italic;	
}
#report article .meta .errors {
	font-weight: bold;
	display: inline-block;
	min-width: 2.5em;
	text-align: right;
	color:red;
}
#report article .meta .warnings {
	font-weight: bold;
	display: inline-block;
	min-width: 1.1em;
	text-align: left;
	color:orange;
}
#report article .errors:after {
	content:" | ";
	color:#444444;
}

.messages {
	clear: both;
}
.messages > li {
	margin-bottom: 5px;
	padding-left: 10px;
}
.messages > li:last-child {
	margin-bottom:0;
}
@media screen and (min-width: 1780px) {
	.messages {
		font-size:0;
	}
	.messages > li {
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		display:inline-block;
		width:50%;
		vertical-align: top;
		font-size:13px;
	}
	.messages > li:nth-last-child(2):nth-child(2n+1) {
		margin-bottom:0;
	}
}
.messages .warning {
	border-left: 5px solid orange;
}
.messages .info {
	border-left: 5px solid #02579e ; /*#3C7FB1;*/
}
.messages .error {
	border-left: 5px solid red;
}
.messages .title {
	color:black;
	text-decoration:none;
	font-weight:bold;
}
.messages .description,
.messages .contexts {
	padding: 5px;
	line-height: 1.6em;
}
.messages .context {
	border: 1px dotted grey;
	padding: 2px;
	background: #f5f5f5;
	margin-left: 5px;
}
.messages .contexts span {
	font-style:italic;
}
.messages .contexts span:not(:first-child):before {
	content:" | ";
}
.messages .contexts strong {
	color:red;
}
/*.messages .description,
.messages .contexts {
	height:0;
	overflow:hidden;
}
.messages > li:target .description,
.messages > li:target .contexts {
	height:auto;
	overflow:hidden;
}*/