//@import 'libs/normalize.less';

@import 'libs/theme.less';
@import 'libs/utils.less';

@import 'inc/_reset.less';

@import 'inc/_main.less';
@import 'inc/_header.less';
@import 'inc/_admin.less';
@import 'inc/_navigation.less';
@import 'inc/_messages.less';
@import 'inc/_list.less';
@import 'inc/_single.less';
@import 'inc/_jobs.less';
@import 'inc/_job.less';
@import 'inc/_resources.less';
@import 'inc/_resource.less';
@import 'inc/_assertors.less';
@import 'inc/_assertions.less';
@import 'inc/_pagination.less';
@import 'inc/_footer.less';

button,
.button {
    color: #444 !important;

    display: inline-block;
    .border-sizing();
    line-height: 15px;
    padding: 5px 12px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
    cursor: default;

    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);

    border: 1px solid #AAA;
    border-radius: 2px;

    &:hover {
        text-decoration: none !important;
    }
}

button[disabled],
.button.disabled {
    color: grey !important;
}

.legend {
    display: block;
    font-size: 0.85em;
    color: #666;
    margin-top: 4px;
}

form.search input {
    padding: 5px 5px 4px 5px;
    margin: 0;
    border: 1px solid #AAA;
    border-radius: 2px;
    margin: 0;
}

/*.controls {
    //background:@headerBgColor;
    min-height:26px;
    overflow: auto;
}
.controls button {
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    border-radius: 2px;
    color: #444;
    padding: 3px 12px;
    margin:0;
    vertical-align: middle;
    font-size: 0.9em;
}
.controls input {
    margin:0;
}
.controls h2,
.controls h3 {
    display: none;
}
.controls form {
    //display: inline;
    margin-right: 2px;
    float:left;
}*/

.actions > form {
    vertical-align: bottom;
}
.actions fieldset {
    display: inline;
}
.actions legend {
    display: none;
}

/* Group and search form */
form.group {
    //float:left;
}
form.group fieldset {
    border: 1px solid #AAA;
    border-radius: 2px;
    background-color: #F0F0F0;
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);

    display: inline;
    padding: 1px;
    font-family: Arial;
    font-size: 14px;
    line-height: 13px;

    position: relative;
    vertical-align:bottom;
    //top: 40px;
}
form.group input {
    display: none;
}
form.group label {
    display: block;
    padding: 5px;
    color: #777;
}
form.group label:hover {
    background: white;
}
form.group input:checked + label {
    color: #444;
}
form.group:hover ~ * {
    vertical-align: bottom;
}
form.group fieldset:not(:hover) input:not(:checked) + label {
    display:none;
}
form.group fieldset:hover {
    //position:absolute;

    //top: 46px;
    top: 23px;
    z-index: 100;
}
form.group fieldset:not(:hover) {
    padding-right: 15px;
}
/*form.group fieldset:hover {
    min-width: 202px; // XXX: hmmm...
}*/
form.group fieldset:not(:hover):after {
    content:"";
    display:block;
    position:absolute;
    right:6px;
    top:10px;
    width:0px;
    height:0px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #444444;
    margin-bottom: 3px;
    margin-left: 3px;
}
form.group button {
    vertical-align: bottom;
}

