@import 'libs/_theme.less';
@import 'libs/_utils.less';
@import 'inc/_reset.less';
@import 'inc/_structure.less';
@import 'inc/_header.less';

.structureMedia;

/* Smooth UI. That's a bit severe */
* {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#crumbs li {display:inline;}
#crumbs li:after {content: " | "}
#crumbs li:last-child:after {
	content:"";
	display:none;
}

#toolbar {
	background: @headerBgColor;
}
body > footer {
	background: @headerBgColor;
}

.job button {
	border:none;
	background:none;
	cursor:pointer;
	margin:0;
	padding:0;
	text-decoration:underline;
	color:blue;
	line-height: 1em;
}
.job {overflow: auto;}
.job > div {
	font-size:0;	
}
.job > div > * {
	font-size:13px;
	display:inline-block;
	vertical-align:top;
	line-height:1.2em
}
.job > div > *:first-child {width:50%;}
.job > div > *:nth-child(2) {width:33%;}
.job > div > *:last-child {width:17%;}
.job form {line-height:1.2em}
.job form button {display:block; float:right; clear:right;}
.job .report {}
.job .filters h1 {
	display:inline;
	font-size:1.1em;
	border:solid #e5e5e5;
	border-width: 1px 1px 0 1px;
	padding:5px;
	margin-right:10px
}