@(user: User, id: PasswordResetId)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>W3C Validator Suite password reset</title> @** Is the title used by any client? **@
</head>
<body>
<p>
    Dear @user.name,
</p>
<p>
    We received your request to recover a password for the account @user.email
</p>
<p>
    If you didn't send this request please ignore this message.
</p>
<p>
    To reset your password, please check the following link within one hour:<br />
    <a href="@Helper.config.getString("website.url").getOrElse("")@routes.PasswordReset.reset(id)">@Helper.config.getString("website.url").getOrElse("")@routes.PasswordReset.reset(id)</a>
</p>
<p>
    Sincerely,<br />
    W3C Validator Suite Team
</p>
<p>
    --<br />
    W3C Validator Suite<br />
    <a href="@Helper.config.getString("website.url").getOrElse("")@routes.Application.index">@Helper.config.getString("website.url").getOrElse("")@routes.Application.index</a><br />
    <a href="mailto:@Helper.config.getString("support.email").getOrElse("")">@Helper.config.getString("support.email").getOrElse("")</a>
</p>
</body>
</html>
