@(user: User)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>W3C Validator Suite registration confirmation</title>
</head>
<body>
<p>
    Dear @user.name,
</p>
<p>
    Welcome to the <a href="@Helper.config.getString("website.url").getOrElse("")@routes.Application.index">W3C Validator Suite Service</a>.
</p>
<p>
    We are pleased to confirm your registration under the email address: @user.email<br />
    We remind you that you have received <strong>@user.credits free page validations</strong>.
</p>
<p>
    You chose @Helper.notWord(user.optedIn)to receive email communications from W3C. You can change this setting and edit
    your profile on the <a href="@Helper.config.getString("website.url").getOrElse("")@routes.User.profile">My Account</a> page.
</p>
<p>
    If you have lost your password you can recover it using the <a href="@Helper.config.getString("website.url").getOrElse("")@routes.PasswordReset.resetRequest">Reset Password</a> page.
</p>
<p>
    We welcome your feedback and ideas feel free to send us an email to <a href="mailto:@Helper.config.getString("support.email").getOrElse("")">@Helper.config.getString("support.email").getOrElse("")</a>.
</p>
<p>
    Sincerely,<br />
    W3C Validator Suite Team
</p>
<p>
    --<br />
    W3C Validator Suite<br />
    <a href="@Helper.config.getString("website.url").getOrElse("")@routes.Application.index">@Helper.config.getString("website.url").getOrElse("")@routes.Application.index</a><br />
    <a href="mailto:@Helper.config.getString("support.email").getOrElse("")">@Helper.config.getString("support.email").getOrElse("")</a>
</p>
</body>
</html>
