@(user: User)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>W3C Validator Suite registration confirmation</title>
</head>
<body>
    <p>Dear W3C Validator Suite User,</p>
    <p>Welcome to the W3C Validator Suite Service.</p>
    <p>
        We are pleased to confirm your registration under the name: @user.name <br />
        and the email address: @user.email
        We remind you that you have received @user.credits free page validations.
    </p>
    <p>
        Comments and suggestions should be submitted to by email to our support team
        <a href="mailto:validator-suite-customers@@w3.org">validator-suite-customers@@w3.org</a>.</p>
    <p>
        Best regards <br />
        W3C Validator Suite Team
    </p>
</body>
</html>


