@(jobs: Iterable[(Job, JobData)] = None)()(implicit flash: Flash, userOpt: Option[User])

@import views.Helper._
@import org.w3.vs.run._

@libs.main("Validator Suite", 
  stylesheets = List("dashboard.css"),
      scripts = List("dashboard.js"), 
         exec = "$(function(){window.Dashboard = new DashboardView();});"){
   
   @***** Header ******@
   
	@libs.header(userOpt)
	
}{ @***** Toolbar *****@
	
		<ul><li><a href="@routes.Dashboard.editJob(None)">Add new job</a></li></ul>
	
}{ @***** Content *****@ 
	
	@libs.navigation()
	@libs.errors()
	
	<section id="jobs" class="list">
	
		@for((job, data) <- jobs) {
		<article class="job" data-id="@job.id"><div>
			<ul>
				<li>Name: <span class="name">@job.name</span></li>
				<li>Uri: <span class="uri">@job.strategy.seedURLs.head</span></li>
				<li>Distance: <span class="distance">@job.strategy.distance</span></li>
				<li>Activity: <span class="activity">@data.activity</span></li>
				<li>Explo mode: <span class="mode">@data.explorationMode</span></li>
			</ul>
			<ul>
				<!-- <li>Last run: <time datetime="">-</time></li> -->
				<li>Last updated: <time datetime="">-</time></li>
				<li>Resources: <span class="resources">@data.resources</span></li>
				<li>Valid: <span class="oks">@data.oks</span></li>
				<li>Errors: <span class="errors">@data.errors</span></li>
				<li>Warnings: <span class="warnings">@data.warnings</span></li>
			</ul>
			<form action="@routes.Dashboard.jobDispatcher(job.id)" method="post">
				<button type="submit" class="show" formmethod="get">Show</button>
				@defining(data.explorationMode) { mode =>
				  @mode match {
				    case ProActive => {<button type="submit" name="action" value="off" class="off">Off</button>}
				    case Lazy => {<button type="submit" name="action" value="on" class="on">On</button>}
				  }
				}
				@defining(data.activity) { activity =>
				  @activity match {
				    case Busy => {<button type="submit" name="action" value="stop" class="stop">Stop</button>}
				    case Idle => {}
				  }
				}
				<button type="submit" name="action" value="refresh" class="refresh">Refresh</button>
				<button type="submit" class="edit" formmethod="get" formaction="@routes.Dashboard.editJob(Some(job.id))">Edit</button>
				<button type="submit" name="action" value="delete" class="delete">Delete</button>
			</form>
		</div></article>
		}
	</section>
	
}{ @***** Footer *****@

	<script type="text/template" id="job-template">
		<div><ul>
			<li>Name: <span class="name"><%= name %></span></li>
			<li>Uri: <span class="uri"><%= seedUri %></span></li>
			<li>Distance: <span class="distance"><%= distance %></span></li>
			<li>Activity: <span class="activity"><%= data.get('activity') %></span></li>
			<li>Explo mode: <span class="mode"><%= data.get('mode') %></span></li>
		</ul>
		<ul>
			<!--<li>Last run: <time datetime="">-</time></li>-->
			<li>Last updated: <time datetime="">-</time></li>
			<li>Resources: <span class="resources"><%= data.get('resources') %></span></li>
			<li>Valid: <span class="oks"><%= data.get('oks') %></span></li>
			<li>Errors: <span class="errors"><%= data.get('errors') %></span></li>
			<li>Warnings: <span class="warnings"><%= data.get('warnings') %></span></li>
		</ul>
		<ul>
			<li><a href="<%= url %>" class="show">Show</a></li>
			<% if (data.get("mode") == "ProActive") { %>
			<li><a href="<%= url + '/off' %>" class="off">Off</a></li>
			<% } else if (data.get("mode") == "Lazy") { %>
			<li><a href="<%= url + '/on' %>" class="on">On</a></li>
			<% } if (data.get("activity") == "Busy") { %>
			<li><a href="<%= url + '/stop' %>" class="stop">Stop</a></li>
			<% } %>
			<li><a href="<%= url + '/refresh' %>" class="refresh">Refresh</a></li>
			<li><a href="<%= url + '/edit' %>" class="edit">Edit</a></li>
			<li><a href="<%= url + '/delete' %>" class="delete">Delete</a></li>
		</ul></div>
	</script>

	@libs.footer()

}