@(jobs: Iterable[(org.w3.vs.model.Job, org.w3.vs.model.JobData)] = None)(implicit user: org.w3.vs.model.User)

@import views.Helper._
@import org.w3.vs.run._

@libs.main("Validator Suite", stylesheets = List("mockup.css"), scripts = List("job.js")) {
	
	@libs.header(Some(user))
	@libs.navigation()
	
	<section id="jobs" class="main">
	@for((job, data) <- jobs) {
		<article class="job" data-id="@job.id">
			<ul>
				<li>Name: <span class="name">@job.name</span></li>
				<li>Uri: <span class="uri">@job.strategy.seedURLs.head</span></li>
				<li>Status: <span class="status">@data.status</span></li>
				<li>Resources: <span class="resources">@data.resources</span></li>
			</ul>
			<ul>
				<li>Last run: <time datetime="">-</time></li>
				<li>Last updated: <time datetime="">-</time></li>
				<li>Errors: <span class="errors">@data.errors</span></li>
				<li>Warnings: <span class="warnings">@data.warnings</span></li>
			</ul>
			<form action="@routes.Validator.jobDispatcher(job.id)" method="post">
			<ul>
				<li><input type="submit" value="Show" class="show" formmethod="get" /></li>
				<li>@defining(data.status) { status =>
				  @status match {
				    case Running => {<input type="submit" name="action" value="Stop" class="stop">}
				    case _ =>       {<input type="submit" name="action" value="Run" class="run">}
				  }
				}</li>
				<li><input type="submit" value="Edit" class="edit" formmethod="get" formaction="@routes.Validator.editJob(job.id)" /></li>
				<li><input type="submit" name="action" value="Delete" class="delete" /></li>
			</ul>
			</form>
		</article>
	}
	</section>
	
	<script type="text/template" id="job-template">
		<ul>
			<li>Name: <span class="name"><%= name %></span></li>
			<li>Uri: <span class="uri"><%= seedUri %></span></li>
			<li>Status: <span class="status"><%= data.get('status') %></span></li>
			<li>Resources: <span class="resources"><%= data.get('resources') %></span></li>
		</ul>
		<ul>
			<li>Last run: <time datetime="">-</time></li>
			<li>Last updated: <time datetime="">-</time></li>
			<li>Errors: <span class="errors"><%= data.get('errors') %></span></li>
			<li>Warnings: <span class="warnings"><%= data.get('warnings') %></span></li>
		</ul>
		<ul>
			<li><a href="/job/<%= id %>" class="show">Show</a></li>
			<% if (data.get("status") != "Running") { %>
			<li><a href="/job/<%= id %>" class="run">Run</a></li>
			<% } else { %>
			<li><a href="/job/<%= id %>" class="stop">Stop</a></li>
			<% } %>
			<li><a href="/job/<%= id %>/edit" class="edit">Edit</a></li>
			<li><a href="/job/<%= id %>" class="delete">Delete</a></li>
		</ul>
	</script>
	
	@libs.footer()
	
}
