@(errors: List[(String, String)] = List(), userO: Option[User] = None)(implicit flash: Flash, req: Request[_])

@import org.w3.vs.controllers.isAjax

@if(isAjax) {

	@libs.messages(errors)

} else {

	@libs.main("Validator Suite", stylesheets = List("dashboard.css")){
	   
	   @***** Header ******@
	   
		@libs.header(userO)
		
	}{ @***** Toolbar *****@
		
	}{ @***** Content *****@ 
		
		@libs.navigation()
		@libs.messages(errors)
		
	}{ @***** Footer *****@
	
		@libs.footer()
	
	}

}