@(user: Option[User])(implicit req: RequestHeader)

@front("W3C Validator Suite - FAQs", user) {

<div class="row" id="faq-toc">
    <div class="column">

        <h1>Frequently Asked Questions</h1>

        <ol>
            <li><a href="#whatis">What is the W3C Validator Suite<span class="tm">™</span>?</a></li>
            <li><a href="#why">Why should I validate a Website?</a></li>
            <li><a href="#howcaniuse">How can I use W3C Validator Suite<span class="tm">™</span> service?</a></li>
            <li><a href="#news">How do I learn about W3C Validator Suite<span class="tm">™</span> news?</a></li>
            <li><a href="#freevalidators">What is the difference between the existing free W3C Markup Validator and this
                new service?</a></li>
            <li><a href="#logomeaning">When I see the W3C Validator Suite<span class="tm">™</span> logo/badge, what does it mean?</a></li>
            <li><a href="#accessibility">What about Accessibility testing?</a></li>
            <li><a href="#howlong">How long will it take to validate my Web site?</a></li>
            <li><a href="#privatesites">Can I check internal websites or sites that require authentication?</a></li>
            <li><a href="#javascript">My site uses Javascript. Is that OK?</a></li>
            <li><a href="#license">Is the W3C Validator Suite<span class="tm">™</span> published under an open-source license?</a></li>
            <li><a href="#api">Is there an API?</a></li>
            <li><a href="#bugsandideas">How can I submit bug reports or send ideas?</a></li>
        </ol>
    </div>
</div>

<hr/>
<div class="row" id="faq">
    <div class="column">

        <h2 id="whatis">What is the W3C Validator Suite<span class="tm">™</span>?</h2>

        <p>The W3C Validator Suite<span class="tm">™</span> service checks an entire Web site and evaluates conformance with <a
                href="http://www.w3.org/standards/">W3C open standards</a>. Validation currently includes HTML, CSS and
            Internationalization checking.</p>
    
        <h2 id="why">Why should I validate a Website?</h2>

        <p>Simply checking that a Website displays well in several browsers might prove
            that the site delivers a good experience today, but it doesn't guarantee
            that it will do so tomorrow. Validation is one of the simplest ways to check
            a site's conformity to Web standards now and for the future. Validation also
            may be used as a debugging tool - to test your HTML and CSS code and make sure
            your pages are served appropriately for international visitors. Validation
            simply is a good practice to adopt, and shows you are a true Web professional.</p>

        <h2 id="howcaniuse"> How can I use W3C Validator Suite<span class="tm">™</span> service?</h2>

        <p>W3C is providing W3C Validator Suite<span class="tm">™</span> as Software-as-a-Service available at <a href="@routes.Application.index">@Helper.config.getString("website.url").getOrElse("")</a>.</p>

        <h2 id="news">How do I learn about W3C Validator Suite<span class="tm">™</span> news?</h2>

        <p><a href="@routes.Application.register">Register now</a> to be informed of the latest W3C Validator
            Suite<span class="tm">™</span> news and receive 20 free page validations.</p>

        <h2 id="freevalidators">What is the difference between the existing free W3C Markup Validator and this new
            service?</h2>

        <p>W3C Validator Suite<span class="tm">™</span> integrates Web standards conformance tools to make it easy and quick to keep
            your entire Web
            site compliant with the latest Web standards.</p>

        <p>W3C will continue to offer its free validator tools, including the <a href="http://validator.w3.org/">single
            page Markup Validator</a>. This free service only checks one Web page at a time.</p>

        <h2 id="logomeaning">When I see the W3C Validator Suite<span class="tm">™</span> logo/badge, what does it mean?</h2>

        <p>The service logo refers to the five key benchmarks for the <a href="http://www.w3.org/standards/">Open Web
            Platform</a>. The W3C Validator Suite<span class="tm">™</span> badge says <cite>"Improved with W3C Validator Suite"</cite>. You are
            encouraged to post the badge to your Websites to indicate you used the service, although it does not imply
            any seal of approval or service outcomes.</p>

        <h2 id="accessibility">What about Accessibility testing?</h2>

        <p>Currently the W3C Validator Suite<span class="tm">™</span> does not test for accessibility. Additional conformance
            checking for accessibility, mobile, etc. is under consideration for the near future.</p>

        <h2 id="howlong">How long will it take to validate my Web site?</h2>

        <p>Validation processing time depends on multiple factors like the number of your Web pages, the complexity of
            your page content, your server's capacity, and your network bandwidth. As an example, an average Web site of
            900 pages could be processed in 15 to 20 minutes.</p>

        <h2 id="privatesites">Can I check internal websites or sites that require authentication?</h2>

        <p>No, the W3C Validator Suite<span class="tm">™</span> can only check sites that are reachable from the Internet without
        passwords.</p>

        <h2 id="javascript">My site uses Javascript. Is that OK?</h2>

        <p>Some users do not enable Javascript in their browsers. Therefore, to be fully interoperable your Web site
            should not depend on navigation links inside the Javascript. W3C Validator Suite<span class="tm">™</span> will not
            process the Javascript; it will only follow the links that are specified in the HTML markup. If the
            Javascript modifies the HTML, W3C Validator Suite<span class="tm">™</span> will only check the original, unmodifed HTML.
            Aside from this, Javascript in your site should not impact the W3C Validator Suite<span class="tm">™</span> report.</p>

        <h2 id="license">Is the W3C Validator Suite<span class="tm">™</span> published under an open-source license?</h2>

        <p>Yes, the W3C Validator Suite code is distributed under the <a href="http://www.w3.org/Consortium/Legal/copyright-software">W3C Software License</a> and is availabe on <a href="https://github.com/w3c/validator-suite">GitHub</a>. It is also based on existing W3C Validators which are themselves <a href="http://www.w3.org/Status" title="W3C Open Source Software">available under an open-source license</a>.</p>

        <h2 id="api">Is there an API?</h2>

        <p>Currently the W3C Validator Suite<span class="tm">™</span> is only available as Software-as-a-Service from <a
                href="@routes.Application.index">@Helper.config.getString("website.url").getOrElse("")</a>.
            We are hoping to offer an API in the future which will make it possible to integrate with Content Management
            Systems (CMS) or an existing Quality assurance (QA) process.</p>

        <h2 id="bugsandideas">How can I submit bug reports or send ideas?</h2>

        <p>W3C Validator Suite<span class="tm">™</span> current customers should <a href="@routes.Application.login">login</a> and
            follow the <strong>"Support"</strong> link
            available from the top menu. Other comments and suggestions should be submitted to by email to our support team <a
                    href='mailto:@Helper.config.getString("contact.email").getOrElse("")'>&lt;@Helper.config.getString("contact.email").getOrElse("")&gt;</a>.</p>

    </div>
</div>

}
