@**
 * title: Title of the page
 * user: Optional user
 * withModals: Whether to add the loginModal and registerModal to the page
 * loginPage Whether this a login page and the login link should be disabled
**@
@(title: String, user: Option[User] = None, withModals: Boolean = true, loginPage: Boolean = false, js: Boolean = true)(content: Html)(implicit req: RequestHeader)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="W3C Validator Suite">
    <meta name="author" content="World Wide Web Consortium">
    <meta name="description" content="Easily validate your entire website with the W3C Validator Suite and evaluate its conformance with W3C standards (HTML, CSS, Internationalization).">
    <meta name="keywords" content="html, markup, css, internationalization, validator, validation, website, w3c, standards, conformance">
    <meta name="viewport" content="width=device-width">
    <title>@title</title>
    <link rel="icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" href='@routes.Assets.at("styles/front.min.css")'>
    @if(js) {<script data-main='@routes.Assets.at("js/front.js")' src='@routes.Assets.at("js/libs/require.js")' async="async"></script>}
</head>

<body>

@libs.header(user, loginPage)

@libs.devNotice()

@content

<footer id="footer">
    <div class="row">
        <p class="column">
            © @Helper.year
            <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a> <sup>®</sup>
            (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>,
            <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>,
            <a href="http://www.keio.ac.jp/">Keio</a>,
            <a href="http://ev.buaa.edu.cn/">Beihang</a>)
            <a href="@routes.Application.terms.url">Terms</a>,
            <a href="@routes.Application.privacy.url">Privacy</a>
        </p>
    </div>
</footer>

@if(user == None && withModals) {
<div id="loginModal" class="reveal-modal medium">
    @forms.loginForm(LoginForm)
    <a class="close-reveal-modal" href="#" aria-label="Cancel">&#215;</a>
</div>
<div id="registerModal" class="reveal-modal large">
    @forms.registerForm(RegisterForm)
    <a class="close-reveal-modal" href="#" aria-label="Cancel">&#215;</a>
</div>
}

</body>
</html>
