@(user: Option[org.w3.vs.model.User] = None)
	<header> 
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="vsLogo" viewBox="0 0 400 450">
			<style type="text/css">
				#logo { fill:#D2D2D2; }
				#logo *:hover { fill:#444; }
			</style>
			<defs>
				<polygon id="branch" points="6,15 32,94 -82,175 -144,130 -118,51 -81,78"></polygon>
			</defs>
			<g id="logo" transform="translate(200,200)">
				<use xlink:href="#branch" transform="rotate(0)"></use>
				<use xlink:href="#branch" transform="rotate(72)"></use>
				<use xlink:href="#branch" transform="rotate(144)"></use>
				<use xlink:href="#branch" transform="rotate(216)"></use>
				<use xlink:href="#branch" transform="rotate(288)"></use>
			</g>
		</svg>
		<h1><a href="/"><span>Validator</span> <span>Suite</span></a></h1>
		<div id="admin">
		@if(user.isDefined) {
			<span>Logged in as @user.get.name</span> | <a href="@routes.Application.logout">logout</a>
		} else {
			<a href="@routes.Application.login">login</a>
		}
		</div>
	</header>