@(user: Option[User])(implicit req: RequestHeader)

@front("W3C Validator Suite", user) {

<div id="first" class="row">
    <div class="columns">
        <h1>Website Validation by W3C</h1>
    </div>
    <p class="large-9 columns">
        Quickly and easily perform website validation by the same organization that builds Web standards.
    </p>

    <div class="large-3 columns">
        @user match{
            case Some(user) => {<a class="button right" href="@routes.Jobs.index.url" title="@Messages("notice.registerNow")">Try it now</a>}
            case None => {<a class="button right" href="@routes.Application.tryIt.url" data-reveal-id="registerModal" title="@Messages("notice.registerNow")">Try it now</a>}
        }
    </div>
</div>

<hr/>

<div class="row">
    <div class="large-4 columns indexColumn">
        <h1>Right tool</h1>

        <p>
            The <a href="http://www.w3.org">World Wide Web Consortium</a> (W3C) Validator Suite<span class="tm">™</span> service
            provides a new integrated view for evaluating website quality. Validator Suite<span class="tm">™</span> integrates Web
            standards conformance tools to make it easy and quick to keep your website compliant with Web standards.
            Valid, standards-compliant code is the cornerstone of the <a href="http://www.w3.org/standards/">Open Web
            Platform</a> success. Valid code just works.
        </p>
    </div>

    <div class="large-4 columns indexColumn">
        <h1>Mark of success</h1>

        <p>
            Developers, designers and site managers have used W3C's free Validator tools millions of times a day, for
            more than 15 years. W3C builds on that experience now with enhanced validity and efficiency. Soon we will
            add checking capabilities for accessibility, compatibility, and optimization.
        </p>
    </div>

    <div id="features" class="large-4 columns">
        <h1>Features</h1>

        <p>
            W3C Validator Suite<span class="tm">™</span> examines the public pages of an entire website and evaluates conformance
            with W3C open standards. It is available as an online service (<abbr
                title="Software as a Service">SaaS</abbr>) that provides:
        </p>
        <ul>
            <li>Website crawling</li>
            <li>HTML & CSS Validation</li>
            <li>Internationalization checking</li>
            <li>Real-time integrated reports</li>
        </ul>
    </div>

</div>

<hr/>

<div class="row">

    <figure class="column small-centered large-centered screenshot">
        <figcaption class="caption" id="sample-caption">
            A sample W3C Validator Suite<span class="tm">™</span> report
        </figcaption>
        <img src='@routes.Assets.at("images/report.png")' alt="Screenshot of a W3C Validator Suite report"
             aria-describedby="sample-caption">
    </figure>

</div>

@**
<div id="slide" class="row">
    <div class="column large-10 large-centered">
        <ul data-orbit>
            <li>
                <img src="assets/images/1.png"/>

            </li>
            <li>
                <img src="assets/images/2.png"/>

                <div class="orbit-caption">Real-time reports: input your homepage url and start working right away.
                </div>
            </li>
            <li>
                <img src="assets/images/3.png"/>

                <div class="orbit-caption">See a detailed report for each resource.</div>
            </li>
            <li>
                <img src="assets/images/4.png"/>

                <div class="orbit-caption">Consult the most common errors on your website and fix what's most important
                    first.
                </div>
            </li>
        </ul>
    </div>
</div>**@

}
