@(messages: Seq[String] = Seq[String]())(implicit user: org.w3.vs.model.User)

@libs.main(title = "Validator Suite", stylesheets = List("main.min.css"), scripts = List("vs.js")) {
	
	@libs.header(Some(user))
	
	<section id="messages">
	@for(message <- messages) {
		<div class="error">@message</div>
	}
	</section>
	
	@helper.javascriptRouter("jsRoutes")(
		routes.javascript.Validator.stop
	)
	
	<a href="/dashboard">Dashboard</a>
	
	<section id="form">
		<form action="/observation" method="post">
			<label for="url">URL</label>
			<input name="url" id="url" type="text" value="http://www.w3.org" />
			<label for="distance">Distance</label>
			<input name="distance" id="distance" type="text" value="1" maxlength="2" />
			<label for="distance">Check Links</label>
			<input name="linkCheck" id="linkCheck" type="checkbox" />
			<input type="submit" value="Validate" />
		</form>
		<p id="progress" style="display:none"><progress max="100" value="0"><span>0</span>%</progress><span>Crawling...</span></p>
	</section>
	<section id="stats">
		<ul>
			<li class="urls"><span>URLs crawled:</span><span>0/0</span></li>
			<li class="observations"><span>Observations:</span><span>0/0</span></li>
			<li class="errors"><span>Errors:</span><span>0</span></li>
			<li class="warnings"><span>Warnings:</span><span>0</span></li>
		</ul>
	</section>
	<a class="clear" href="#">Clear</a>
	<section id="logs">
		<ul>
			
		</ul>
	</section>
	<section id="observations" style="display:none">
		<ul>
			<li class="headers"><span>URI</span><span>Warnings</span><span>Errors</span></li>
		</ul>
	</section>
	
	@libs.footer()
	
}