@front("Validator Suite") {

<div id="first" class="row">
    <div class="large-9 columns">
        <h1>Web site W3C validation</h1>
        <p>Analyze your Web site conformance with W3C open standards.</p>
        <p>Quickly and easily perform one-stop Web site validation. Offered to you by the Web's most trusted source.</p>
    </div>
    <div class="large-3 columns"><a class="button right" href="pricing.html">Try it now</a></div>
</div>

<hr />

<div class="row">
    <div class="large-4 columns">
        <h1>The right tools</h1>
        <p>The World Wide Web Consortium (W3C) Validator Suite<sup>®</sup> is a service providing a new integrated view for evaluating Web site quality.  W3C Validator Suite<sup>®</sup> integrates Web standards conformance tools in a way that makes it easier than ever to keep your Web site compliant with the latest Web standards. Valid, standards-compliant code is the cornerstone of Open Web success. Valid code just works.</p>
    </div>

    <div class="large-4 columns">
        <h1>The mark of success</h1>
        <p>For over 15 years W3C has provided free Web Validation service to Web designers and developers. It's used millions of time a day. Our new W3C Validator Suite<sup>®</sup> builds upon that experience and expands the utility of our offerings. The five key benchmarks for the Open Web Platform are: validity, accessibility, compatibility, optimization, and efficiency.</p>
    </div>

    <div id="features" class="large-4 columns">
        <h1>Features</h1>
        <p>Quickly and easily perform one-stop Web site validation. Offered to you by the Web's most trusted source. @**W3C Validator Suite<sup>®</sup> examines the public pages of an entire Web site and evaluates conformance with W3C open standards.**@</p>
        <ul>
            <li>Web site crawling</li>
            <li>HTML5 & CSS Validation</li>
            <li>Internationalization checking</li>
            <li>Real-time integrated reports</li>
            <li>Detailed reports per resource</li>
        </ul>
    </div>
</div>

<hr />

<div id="slide" class="row">
    <div class="column large-10 large-centered">
        <ul data-orbit>
            <li>
                <img src="assets/images/1.png" />
                <div class="orbit-caption">Validate and monitor all your Web sites in a single place.</div>
            </li>
            <li>
                <img src="assets/images/2.png" />
                <div class="orbit-caption">Real-time reports: input your homepage url and start working right away.</div>
            </li>
            <li>
                <img src="assets/images/3.png" />
                <div class="orbit-caption">See a detailed report for each resource.</div>
            </li>
            <li>
                <img src="assets/images/4.png" />
                <div class="orbit-caption">Consult the most common errors on your Web site and fix what's most important first.</div>
            </li>
        </ul>
    </div>
</div>

}