@(job: Option[org.w3.vs.model.Job] = None, results: Iterable[org.w3.vs.model.AssertorResult])(implicit user: org.w3.vs.model.User)

@import org.w3.vs.model._

@libs.main("Validator Suite", 
	stylesheets = List("dashboard.css"), 
	scripts = List("dashboard.js", "report.js"),
	exec = """$(function(){window.Report = new ReportView();});""") {
	
	@libs.header(Some(user))
	
	<nav id="nav">
		<ul>
			<li><a href="@routes.Dashboard.dashboard">Dashboard</a></li>
			<li><a href="@routes.Dashboard.editJob(None)">Add new job</a></li>
		</ul>
	</nav>
	
	<section id="main"><div>
		@libs.navigation()
		
		<section id="report"><div>
		@job.get.id
		
		<br>
		
		@results.map{result => @{
			result match {
				case Assertions(_, _, _, _, _, assertions) =>
					{play.api.templates.HtmlFormat.raw(assertions.flatMap(_.description).headOption getOrElse "")}
				case _ => {"failed"}
			}
		}}
		
		</div></section>
		
	</div></section>
	
	@libs.footer()
	
}
