@(job: Option[JobConfiguration] = None, assertions: Option[Iterable[AssertorResult]] = None)(errors: List[(String, String)] = List())(implicit userOpt: Option[User], flash: Flash)

@libs.main("Validator Suite", 
	stylesheets = List("dashboard.css"), 
	scripts = List("dashboard.js", "report.js"),
	exec = """$(function(){window.Report = new ReportView();});"""){
   
   @***** Header ******@
   
	@libs.header(userOpt)
	
}{ @***** Toolbar *****@

	<ul><li><a href="@routes.Dashboard.dashboard">Dashboard</a></li></ul>
	
}{ @***** Content *****@ 
	
	@libs.navigation()
	@libs.errors(errors)
	
	<section id="report" class="list">
	
	@if(assertions.isDefined) {
	  @assertions.get.collect{case sertion: Assertions =>
	
	<article class="assertion"><div>
		<a href="#">@sertion.url</a>
		<ul>
			<li>Errors: @sertion.numberOfErrors</li>
			<li>Warnings: @sertion.numberOfWarnings</li>
			<li>Timestamp: @sertion.timestamp</li>
		</ul>
		
		<ul class="messages">
		@defining(sertion.assertions) { raws =>
		@raws.map { raw =>
			<li class="@raw.severity" lang="@raw.lang">@raw.title</li>
		}}
		</ul>
	</div></article>
	
	  }
	}
	
	</section>
	
}{ @***** Footer *****@

	@libs.footer()

}
