@**(job: JobView,
    page: Page[ResourceView],
    user: User,
    organization: Organization,
    messages: List[(String, String)] = List.empty)(implicit flash: Flash, req: Request[_])

@libs.main(s"""Report for job "${job.name}" - By resources - Validator Suite""",
        script = "job_resources"){
    
    @libs.admin(user)
    @libs.navigation(List((job.name ,"")))
    @libs.messages(messages)
    
    <section id="jobs" class="single" data-url="@routes.Jobs.index" data-count="1">
        <h2>Job: @job.name</h2>
        @**collection.jobs(Page(job))** @
    </section>
    
    <section id="resources" class="list" data-id="@job" data-url="@routes.Jobs.show(job.id)" data-count="@page.iterable.size">
        <h2>Resources</h2>
        @**collection.resources(page, job)** @
    </section>
    
}{ @***** Footer ***** @

    @libs.footer {
    @libs.pageCtrl(page)
    }

}
**@