@(job: JobView,
    page: Page[ResourceView],
    user: User,
    organization: Organization,
    messages: List[(String, String)] = List.empty)(implicit flash: Flash, req: Request[_])

@libs.main("Validator Suite",
    style = "dashboard",
    script = "job"){
    
    @libs.admin(user)
    @libs.navigation("Report for job \"" + job.name +"\"", organization, List((job.name ,"")))
    @libs.messages(messages)
    
    <section id="jobs" class="single">
        <h2>Job: @job.name</h2>
        @pages.jobs(Page(job))
    </section>
    
    <section id="resources" class="list" data-id="@job.id">
        <h2>Resources</h2>
        @pages.resources(page, job)
    </section>
    
}{ @***** Footer *****@

    @libs.footer {
    @libs.pageCtrl(page)
    }

}
