@(form: Form[org.w3.vs.model.Job], job: Option[org.w3.vs.model.Job] = None)(implicit user: org.w3.vs.model.User)

@libs.main("Validator Suite", stylesheets = List("mockup.css")) {
	
	@libs.header(Some(user))
	@libs.navigation(List((form("name").value.getOrElse("New Job"), "")))
	
	<section class="main">
	
	<script type="text/javascript">
	function showValue(newValue) {
		document.getElementById("dist").innerHTML=newValue;
	}
	</script>
	
	<form method="post">
		<label for="name">Name: </label>
		<input id="name" name="name" type="text" value="@form("name").value" required></input><br>
		<label for="url">URL: </label>
		<input id="url" name="url" type="url" value="@form("url").value" required></input><br>
		<label for="distance">Distance: </label>
		<input id="distance" name="distance" type="range" value="@form("distance").value.getOrElse(10)" max=20 onchange="showValue(this.value)"/><span id="dist">@form("distance").value.getOrElse(10)</span><br>
		<label for="linkCheck">Check external links: </label>
		<input type=checkbox id=linkCheck name=linkCheck @if(form("linkCheck").value == Some("on")) {checked}/><br>
		@if(job.isDefined) {
		<input type=submit name=action value=Update formaction="@routes.Validator.jobDispatcher(job.get.id)">
		} else {
		<input type=submit name=action value=Create formaction="@routes.Validator.createJob">
		}
	</form>
	
	</section>
	
	@libs.footer()
	
}