@(form: JobForm,
    user: User,
    organization: Organization,
    idOpt: Option[JobId] = None)(implicit flash: Flash)

@libs.main("Validator Suite",
  stylesheets = List("dashboard.css")){
   
   @***** Header ******@
   
	@libs.header()
	
}{ @***** Content *****@ 

	@libs.admin(user)
	@libs.navigation("Job", organization, List((form("name").value.getOrElse("New Job"), "")))
	@libs.messages()
	
	<section>
	
	@** TODO **@
	<script type="text/javascript">
	function showValue(newValue) {
		document.getElementById("dist").innerHTML=newValue;
	}
	</script>

	<form method="post">
		<label for="name">Name: </label>
		<input id="name" name="name" type="text" value="@form("name").value" required></input><br>
		<label for="url">URL: </label>
		<input id="url" name="url" type="url" value="@form("url").value" required></input><br>
		<label for="maxResources">Number of resources: </label>
		<input id="maxResources" name="maxResources" type="text" value="@form("maxResources").value.getOrElse(100)"</input><br>
		<!-- <label for="linkCheck">Check external links: </label>
		<input type=checkbox id=linkCheck name=linkCheck @**if(form("linkCheck").value == Some("on")) {checked}**@ checked/><br> -->
		@if(idOpt.isDefined) {
		<input type=submit name=action value=Update formaction="@routes.Jobs.dispatcher(idOpt.get)">
		} else {
		<input type=submit name=action value=Create formaction="@routes.Jobs.create">
		}
	</form>
	
	</section>
	
}{ @***** Footer *****@

	@libs.footer()

}
