@(form: Form[org.w3.vs.model.Job], id: java.util.UUID = null)(implicit user: org.w3.vs.model.User)

@libs.main("Validator Suite", stylesheets = List("mockup.css")) {
	
	@libs.header(Some(user))
	@libs.navigation(List((form("name").value.getOrElse("New Job"), "")))
	
	<section class="main">
	
	<script type="text/javascript">
	function showValue(newValue) {
		document.getElementById("dist").innerHTML=newValue;
	}
	</script>
	
	@defining(if (id != null) routes.Validator.updateJob(id) else routes.Validator.createJob) { action =>
	@helper.form(action) {
		<label for="name">Name: </label>
		<input id="name" name="name" type="text" value="@form("name").value" required></input><br>
		<label for="url">URL: </label>
		<input id="url" name="url" type="url" value="@form("url").value" required></input><br>
		<label for="distance">Distance: </label>
		<input id="distance" name="distance" type="range" value="@form("distance").value.getOrElse(10)" max=20 onchange="showValue(this.value)"/><span id="dist">@form("distance").value.getOrElse(10)</span><br>
		<label for="linkCheck">Check external links: </label>
		<input type=checkbox id=linkCheck name=linkCheck @if(form("linkCheck").value == Some("on")) {checked}/><br>
		<button type=submit>@if(id != null) {Update} else {Create}</button>
	}
	}
	
	</section>
	
	@libs.footer()
	
}