@(user: Option[User])(implicit req: RequestHeader)

@front("W3C Validator Suite - Logos") {

<section class="row logos">

    <div class="column">

        <h1>Logos</h1>

        <p>
            @**
            [[ Explain when and how to use them ]]
            [[ Give license information to reuse them ]]
            **@
        </p>

        <p>
            <a href="@Helper.config.getString("website.url").getOrElse("")/" title="Check your website with the W3C Validator Suite">
                <img src="@Helper.config.getString("website.url").getOrElse("")/icons/vs-blue-256.png" alt="W3C Validator Suite" />
            </a>
        </p>

        <p>
<code>&lt;a href="@Helper.config.getString("website.url").getOrElse("")/" title="Check your website with the W3C Validator Suite">
    &lt;img src="@Helper.config.getString("website.url").getOrElse("")/icons/vs-blue-256.png" alt="W3C Validator Suite" width="256" height="60">
&lt;/a>
</code>
        </p>
    </div>

</section>

}
