@(user: User,
    title: String,
    script: String = "",
    style: String = "",
    collections: Seq[Collection[View]])(implicit flash: Flash)

@libs.main(title, style, script) {

    @libs.admin(user)

    @libs.navigation()

    @libs.messages()

    @collections.map { col =>
    <section id="@col.id" class="@col.classe">
        <h2>@Messages(s"${col.id}.title")</h2>
        @collection.generic(col)
        @col.template
    </section>}

}{
    @libs.footer {
    @libs.pageCtrl(collections.last)}
}