@(user: User,
    title: String,
    script: String = "main",
    style: String = "",
    crumbs: Crumbs = Seq.empty,
    messages: List[(String, String)] = List.empty,
    collections: Seq[Collection[Model]])(implicit req: RequestHeader, flash: Flash, vs: ValidatorSuite)

@libs.main(title, style, script, user) {

    @libs.navigation(crumbs)

    @libs.devNotice()

    @libs.messages(messages ++ flash.data)

    @collections.map { collection => @collection.toHtml }

    <div id="choiceModal" class="reveal-modal small">
        <div class="choices">
            <button class="close-reveal-modal yes" tabindex="0">Yes</button>
            <button class="close-reveal-modal no" tabindex="0">No</button>
        </div>
        <p class="msg"></p>
    </div>

}{
    @libs.pageCtrl(collections.last)
}