@(form: OneTimeJobForm,
    user: User,
    messages: List[(String, String)] = List.empty)(implicit req: Request[AnyContent], flash: Flash, vs: ValidatorSuite)

@front("W3C Validator Suite - Buy a One Time service", Some(user)) {

<section class="newJob row">

    @defining(messages ++ flash.data){ case messages =>
    @if(messages.size > 0) {
    <div class="column globalMessages">
        @libs.messages2(messages)
    </div>
    }}

    <div class="column">

        <h1 class="formHeader">Buy a One Time job</h1>

        <form method="post" action="@routes.OneTimeJob.buyAction" class="vsForm">

                <div class="row">
                    <div class="large-9 large-offset-3 columns">
                        <p>
                            Purchase a new W3C Validator Suite<sup>™</sup> <strong>One Time</strong> service job.
                            Your website HTML and CSS content will be checked for validity and internationalization-friendliness.
                            A single validation job will be performed on your website.
                        </p>
                    </div>
                </div>

                @if(form.errors.size > 0) {
                <div class="row">
                    <div class="column large-9 large-offset-3 formErrors">
                        @libs.messages2(form.errors.toList)
                    </div>
                </div>
                }

                <div class="row">
                    <div class="small-3 columns">
                        <label for="name" class="right inline">
                            Job Name
                            <span class="required" title="This field is required">*</span>
                        </label>
                    </div>
                    <div class="small-9 columns">
                        <input id="name" name="name" type="text" value='@form("name").value' required="required" placeholder="A display name for this job"/>
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        <label for="entrypoint" class="right inline" title='@Messages("jobs.entrypoint.detail2")'>
                            @Messages("jobs.entrypoint")
                            <span class="required" title="This field is required">*</span>
                        </label>
                    </div>
                    <div class="small-9 columns">
                        <input id="entrypoint" name="entrypoint" type="url" value='@form("entrypoint").value' required="required" placeholder='@Messages("jobs.entrypoint.detail")'/>
                    </div>
                </div>

                <div class="row">

                    <fieldset>
                        <legend class="column small-3">
                            One Time job plan
                        </legend>

                        <div class="column small-9">
                            <div class="row">
                                <div class="large-3 column">
                                    <ul class="pricing-table">
                                        <li class="title">
                                            <label for="tiny">
                                                <input id="tiny" name="plan" value="tiny" type="radio" checked/>
                                                <span>Tiny</span>
                                            </label>
                                        </li>
                                        <li class="price">$50 / 40€ <span class="tax" title="Plus VAT if applicable">*</span></li>
                                        <li class="description">For one website with up to 250 pages</li>
                                    </ul>
                                </div>

                                <div class="large-3 column">
                                    <ul class="pricing-table">
                                        <li class="title">
                                            <label for="small">
                                                <input id="small" name="plan" value="small" type="radio"/>
                                                Small
                                            </label>
                                        </li>
                                        <li class="price">$75 / 60€ <span class="tax" title="Plus VAT if applicable">*</span></li>
                                        <li class="description">For one website with up to 500 pages</li>
                                    </ul>
                                </div>

                                <div class="large-3 column">
                                    <ul class="pricing-table">
                                        <li class="title">
                                            <label for="medium">
                                                <input id="medium" name="plan" value="medium" type="radio"/>
                                                Medium
                                            </label>
                                        </li>
                                        <li class="price">$110 / 90€ <span class="tax" title="Plus VAT if applicable">*</span></li>
                                        <li class="description">For one website with up to 1,000 pages</li>
                                    </ul>
                                </div>

                                <div class="large-3 column">
                                    <ul class="pricing-table">
                                        <li class="title">
                                            <label for="large">
                                                <input id="large" name="plan" value="large" type="radio"/>
                                                Large
                                            </label>
                                        </li>
                                        <li class="price">$190 / 150€ <span class="tax" title="Plus VAT if applicable">*</span></li>
                                        <li class="description">For one website with up to 2,000 pages</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>

                <div class="row">
                    <p class="column small-9 small-offset-3 vats"><em>* Plus VAT if applicable.</em></p>
                </div>

                @**
                <div class="row">
                    <div class="large-3 columns">
                        <label for="validator_css-warning" class="right inline">CSS Warnings</label>
                    </div>
                    <div class="large-9 columns">
                        <select id="validator_css-warning" name="validator_css-warning" class="large-6 small-12">
                            <option value="2">All</option>
                            <option selected="selected" value="1">Normal report</option>
                            <option value="0">Most important</option>
                            <option value="no">No warnings</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 columns">
                        <label for="validator_css-vextwarning" class="right inline">CSS Vendor Extensions</label>
                    </div>
                    <div class="large-9 columns">
                        <select id="validator_css-vextwarning" name="validator_css-vextwarning" class="large-6 small-12">
                            <option value="false">Errors</option>
                            <option value="true">Warnings</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 columns">
                        <input class="right inline" id="dtd" name="dtd" type="checkbox" @form("dtd").value.map{_ =>
                        checked="checked"}/>
                    </div>
                    <div class="large-9 columns">
                        <label for="dtd">Force DTD-based validation for HTML4 documents</label>
                    </div>
                </div>
                **@

                <div class="row">
                    <div class="small-3 columns">
                        <input id="terms" type="checkbox" required="required" name="terms" class="right" @form("terms").value.map{_ => checked="checked"}>
                    </div>
                    <div class="small-9 columns">
                        <label for="terms">
                            I agree to the <a href="/policies/terms">Terms and Conditions</a><span class="required" title="This field is required">*</span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns large-offset-3">
                        <button type="submit" name="action" value="create">Buy</button>
                    </div>
                </div>
        </form>

    </div>

</section>

}
