@(form: OneTimeJobForm,
    user: Option[User],
    idOpt: Option[JobId] = None)(implicit req: Request[AnyContent], flash: Flash, vs: ValidatorSuite)

@libs.main("New Job - Validator Suite"){

    @if(user.isDefined) { @libs.admin(user.get) }
    @libs.navigation(List((form("name").value.getOrElse("New Job"), "")))
    @libs.messages(form.errors.toList)
    
    <section id="jobForm">

    <form method="post" action="@routes.OneTimeJob.purchase">

        @if(!user.isDefined) {

        <h1 tabindex="0">Step 1: Login/Register</h1>

        <input id="userKnown" name="userType" value="known" type="radio" checked />
        <label for="userKnown">Log in with an existing account:</label>

        <br>
        <input id="userNew" name="userType" value="new" type="radio" />
        <label for="userNew">Register a new account:</label>

        <br class="userName">
        <label for="userName" class="userName">Name</label>
        <input type="text" id="userName" name="userName" placeholder="Name" value='@form("userName").value' class="userName" />

        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" value='@form("email").value' required="required"/>

        <br>
        <label for="password">Password</label>
        <input type="password" id="password" pattern=".{6,}" name="password" placeholder="Password" required="required" title="Password must be 6 characters minimum"/>

        <br>
        <label for="repeatPassword" class="repeatPassword">Repeat password</label>
        <input type="password" id="repeatPassword" pattern=".{6,}" class="repeatPassword" name="repeatPassword" placeholder="Repeat password"/>

        }

        <h1 class="purchase" tabindex="0">Step 2: Job Setup</h1>

        <label for="name">Job Name</label>
        <input id="name" name="name" type="text" value='@form("name").value' required="required"/>

        <br>
        <label for="entrypoint">Start URL</label>
        <input id="entrypoint" name="entrypoint" type="url" value='@form("entrypoint").value' required="required"/>

        <br>
        <label>Max pages</label>

        <div class="otoj">
            <label for="otoj250">250</label>
            <input id="otoj250" name="otoj" value="otoj250" type="radio" checked />
            <label for="otoj2000" style="margin-left:10px">2,000</label>
            <input id="otoj2000" name="otoj" value="otoj2000" type="radio" />
            <br>
            <label for="otoj500">500</label>
            <input id="otoj500" name="otoj" value="otoj500" type="radio" />
            <label for="otoj5000" style="margin-left:10px">5,000</label>
            <input id="otoj5000" name="otoj" value="otoj5000" type="radio" />
        </div>

        <br>
        @assertors.formValidatorNu(form.assertorsConfiguration)
        @assertors.formValidatorHTML(form.assertorsConfiguration)
        @assertors.formValidatorCSS(form.assertorsConfiguration)
        @assertors.formCheckerI18n(form.assertorsConfiguration)
        @**assertors.formCheckerMobile(form.assertorsConfiguration)**@

        <div>
            <input id="terms" type="checkbox" required="required" name="terms">
            <label for="terms">I agree to the <a href="https://www.w3.org/Consortium/Legal/2012/validator/general-conditions.html">Terms and Conditions</a></label>
        </div>
        <button type="submit" name="action" value="create">Purchase</button>

    </form>

    <script>
        require(["libs/jquery"], function () {
        $(function (){
            $('input[name="assertor[]"] + fieldset').each(function () {
                var fold = $('<a class="jsFold">Options</a>');
                fold.click(function (){
                    $(this).toggleClass('folded');
                });
                $(this).before(fold);
            });
            $('input[name="userType"]').change(function () {
                if (this.value === "new") {
                    $('.userName').show();
                    $('.userName').attr("required", "required");
                    $('.repeatPassword').show();
                    $('.repeatPassword').attr("required", "required");
                } else {
                    $('.userName').hide();
                    $('.userName').removeAttr("required");
                    $('.repeatPassword').hide();
                    $('.repeatPassword').removeAttr("required");
                }
            });
            $('input[value="known"]').change();
        });
        });
    </script>

    </section>
    
}{ @***** Footer *****@

    @libs.footer()()

}
