@(form: OneTimeJobForm,
    user: Option[User],
    idOpt: Option[JobId] = None)(implicit req: Request[AnyContent], flash: Flash)

@libs.main("New Job - Validator Suite"){

    @if(user.isDefined) { @libs.admin(user.get) }
    @libs.navigation(List((form("name").value.getOrElse("New Job"), "")))
    @libs.messages(form.errors.toList)
    
    <section id="jobForm">

    <form method="post" action="@routes.Store.purchase">

        @if(!user.isDefined) {

        <h1>Login/Register</h1>

        <input id="userKnown" name="userType" value="known" type="radio" checked />
        <label for="userKnown">Log in with an existing account:</label>

        <br>
        <input id="userNew" name="userType" value="new" type="radio" />
        <label for="userNew">Register a new account:</label>

        <br class="userName">
        <label for="userName" class="userName">Name</label>
        <input type="text" id="userName" name="userName" placeholder="Name" value='@form("userName").value' class="userName" required/>

        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" value='@form("email").value'/>

        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password"/>

        }

        <h1 class="purchase">Purchase a one-time job</h1>

        <label for="name">Job Name</label>
        <input id="name" name="name" type="text" value='@form("name").value' required="required"/>

        <br>
        <label for="entrypoint">Start URL</label>
        <input id="entrypoint" name="entrypoint" type="url" value='@form("entrypoint").value' required="required"/>

        <br>
        <label>Max pages</label>

        <div class="otoj">
        <label for="otoj1">500</label>
        <input id="otoj1" name="otoj" value="otoj1" type="radio" checked />
        <span>($75 USD)</span>
        <br>
        <label for="otoj2">2,000</label>
        <input id="otoj2" name="otoj" value="otoj2" type="radio" />
        <span>($90 USD)</span>
        <br>
        <label for="otoj3">5,000</label>
        <input id="otoj3" name="otoj" value="otoj3" type="radio" />
        <span>($150 USD)</span>
        </div>

        <br>
        @assertors.formValidatorHTML(form.assertorsConfiguration)
        @assertors.formValidatorNu(form.assertorsConfiguration)
        @assertors.formValidatorCSS(form.assertorsConfiguration)
        @assertors.formCheckerI18n(form.assertorsConfiguration)
        @**assertors.formCheckerMobile(form.assertorsConfiguration)**@

        <button type="submit" name="action" value="create">Purchase</button>

    </form>

    <script>
        require(["libs/jquery"], function () {
        $(function (){
            $('input[name=assertor[]] + fieldset').each(function () {
                var fold = $('<a class="jsFold">Options</a>');
                fold.click(function (){
                    $(this).toggleClass('folded');
                });
                $(this).before(fold);
            });
            $('input[name="userType"]').change(function () {
                if (this.value === "new") {
                    $('.userName').show();
                    $('.userName').attr("required", "required");
                } else {
                    $('.userName').hide();
                    $('.userName').removeAttr("required");
                }
            });
            $('input[value="known"]').change();
        });
        });
    </script>

    </section>
    
}{ @***** Footer *****@

    @libs.footer()()

}
