@(user: Option[User])(implicit req: RequestHeader)

@taxSpan = {<span class="tax" title="Plus VAT if applicable">✝</span>}

@oneTimeDesc(pages: Int) = {For one website<br/>with up to <strong>@pages pages</strong>}
@creditsDesc(pages: Int) = {<strong>@pages credits</strong>}

@front("W3C Validator Suite - Pricing", user) {

<div class="row">
    <div class="column">
        <h1>Pricing & Plans</h1>
        <p>
            W3C Validator Suite<span class="tm">™</span> is Software-as-a-Service product currently available as a
            <a href="#one-time"><strong>One Time</strong></a> service.
            The <strong>One Time</strong> service is designed for Website developers, designers or site managers,
            wanting immediate "one time" results for a single Website.
        </p>
        <p>
            <a href="@routes.Application.register">Register now</a> to be informed of the latest W3C Validator
            Suite<span class="tm">™</span> news.
        </p>
        <p>Funds from W3C Validator Suite<span class="tm">™</span> will help W3C to improve the free validators and will provide long-term stability of these services.</p>
    </div>
</div>

<hr/>

<div class="row pricing">

    <div class="column head">
        <h1 id="credits" tabindex="0">Credits</h1>

        <p>
            Blah blah
        </p>

    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Tiny</li>
            <li class="price">$?? / 50€@taxSpan</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Tiny.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=tiny" title="Buy a One Time Tiny job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Small</li>
            <li class="price">$?? / 75€@taxSpan</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Small.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=small" title="Buy a One Time Small job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Medium</li>
            <li class="price">$??? / 180€@taxSpan</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Medium.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=medium" title="Buy a One Time Medium job">Buy Now</a></li>
        </ul>
    </div>
    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Large</li>
            <li class="price">$??? / 250€@taxSpan</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Large.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=large" title="Buy a One Time Large job">Buy Now</a></li>
        </ul>
    </div>

    <p class="column note"><span class="tax">✝</span><em> Plus VAT if applicable.</em></p>

</div>


<hr/>

<div class="row pricing">

    <div class="column head">
        <h1 id="one-time" tabindex="0">One Time Service</h1>

        <p>
            The <strong>One Time</strong> service allows for <strong>a single validation of one website</strong>.<br/>
            It is offered in four different plans whose prices depend on the maximum number of pages you choose to
            validate.<br/>
            Special pricing for <a href="http://www.w3.org/Consortium/membership">W3C Members</a> available on request
            <a href='mailto:@Helper.config.getString("contact.email").getOrElse("")'>&lt;@Helper.config.getString("contact.email").getOrElse("")&gt;</a>.
        </p>

    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Tiny</li>
            <li class="price">$50 / 40€@taxSpan</li>
            <li class="bullet-item">@oneTimeDesc(OneTimePlan.Tiny.maxPages)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyJob.url?plan=tiny" title="Buy a One Time Tiny job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Small</li>
            <li class="price">$75 / 60€@taxSpan</li>
            <li class="bullet-item">@oneTimeDesc(OneTimePlan.Small.maxPages)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyJob.url?plan=small" title="Buy a One Time Small job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Medium</li>
            <li class="price">$110 / 90€@taxSpan</li>
            <li class="bullet-item">@oneTimeDesc(OneTimePlan.Medium.maxPages)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyJob.url?plan=medium" title="Buy a One Time Medium job">Buy Now</a></li>
        </ul>
    </div>
    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Large</li>
            <li class="price">$190 / 150€@taxSpan</li>
            <li class="bullet-item">@oneTimeDesc(OneTimePlan.Large.maxPages)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyJob.url?plan=large" title="Buy a One Time Large job">Buy Now</a></li>
        </ul>
    </div>

    <p class="column note"><span class="tax">✝</span><em> Plus VAT if applicable.</em></p>

</div>

}
