@(user: Option[User])(implicit req: RequestHeader)

@taxSpan = {<span class="tax" title="Plus VAT if applicable"><sup>(1)</sup></span>}

@oneTimeDesc(pages: Int) = {For one website<br/>with up to <strong>@pages pages</strong>}
@creditsDesc(pages: Int) = {<strong>@pages Credits</strong>}

@front("W3C Validator Suite - Pricing", user) {

<div class="row">
    <div class="column">
        <h1>Pricing</h1>
        
        <p>
            W3C Validator Suite<span class="tm">™</span> is a Software-as-a-Service available through
            Credits of page validation.
        </p>
        <p>
            This service is designed for Website developers, designers or site managers,
            willing to validate their websites and ensure compliance with W3C Web standards.
        </p>
        <p>
            Funds from W3C Validator Suite<span class="tm">™</span> will help W3C to improve the free W3C Validators and
            will provide long-term stability of these services.
        </p>
    </div>
    <div class="column">
        <p>
            <a href="@routes.Application.register">@Messages("notice.registerNow")</a>.
        </p>
    </div>
</div>

<hr/>

<div class="row pricing">

    <div class="column head">
        <h1 id="credits">Credits Packs</h1>

        <p>
            One Credit permits to validate one page (one HTML file and all associated CSS files).<br />Credits can be used to <strong>validate multiple websites, anytime</strong>.
        </p>
        <p>
            The four credits packs lets you fulfill your validation needs.
        </p>
        <p>
            Special pricing for <a href="http://www.w3.org/Consortium/membership">W3C Members</a> available on request
            <a href='mailto:@Helper.config.getString("contact.email").getOrElse("")'>&lt;@Helper.config.getString("contact.email").getOrElse("")&gt;</a>.
        </p>

    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Tiny pack</li>
            <li class="price">19€@taxSpan / $27</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Tiny.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description">Internationalization</li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=tiny" title="Buy a Tiny Credits pack">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Small pack</li>
            <li class="price">49€@taxSpan / $69</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Small.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description">Internationalization</li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=small" title="Buy a Small Credits pack">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Medium pack</li>
            <li class="price">99€@taxSpan / $139</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Medium.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description">Internationalization</li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=medium" title="Buy a Medium Credits pack">Buy Now</a></li>
        </ul>
    </div>
    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Large pack</li>
            <li class="price">199€@taxSpan / $279</li>
            <li class="bullet-item">@creditsDesc(CreditPlan.Large.credits)</li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description">Internationalization</li>
            <li class="cta-button"><a class="button" href="@routes.Purchase.buyCredits.url?plan=large" title="Buy a Large Credits pack">Buy Now</a></li>
        </ul>
    </div>

    <div class="column"><p class="note"><span class="tax">(1)</span><em> Plus VAT if applicable.</em></p></div>

    <div class="column large-6 fsImages">
        <img src='@routes.Assets.at("images/fs-secure.png")' alt="FastSpring " title="Secure ordering by FastSpring"  />
        <img src='@routes.Assets.at("images/paymentLogos.png")' alt="Visa, MasterCard, Maestro, American Express, PayPal" title="Accepted payment methods" class="cbLogos" />
    </div>
    <div class="column large-6 fsNotice">
        <p>
            To complete your order you will be redirected to <a href="http://www.fastspring.com/">FastSpring</a>, our payment partner who accepts payments by Credit Cards or PayPal.
        </p>
    </div>


</div>

}
