@(user: Option[User])

@front("W3C Validator Suite - Pricing", user) {

<div class="row">
    <div class="column">
        <h1>Pricing & Plans</h1>
        <p>
            W3C Validator Suite<span class="tm">™</span> is Software-as-a-Service product currently available as a
            <a href="#one-time"><strong>One Time</strong></a> service.
            The <strong>One Time</strong> service is designed for Website developers, designers or site managers,
            wanting immediate "one time" results for a single Website.
        </p>
        <p>
            <a href="@routes.Application.register">Register now</a> to be informed of the latest W3C Validator
            Suite<span class="tm">™</span> news.
        </p>
        <p>Funds from W3C Validator Suite<span class="tm">™</span> support W3C's mission to Lead the Web to its Full Potential.</p>
    </div>
</div>

<hr/>

<div class="row pricing">

    <div class="column head">
        <h1 id="one-time" tabindex="0">One Time Service</h1>

        <p>
            The <strong>One Time</strong> service allows for <strong>a single validation of one website</strong>.<br/>
            It is offered in four different plans whose prices depend on the maximum number of pages you choose to
            validate.<br/>
            Special pricing for <a href="http://www.w3.org/Consortium/membership">W3C Members</a> available on request
            <a href='mailto:@Helper.config.getString("contact.email").getOrElse("")'>&lt;@Helper.config.getString("contact.email").getOrElse("")&gt;</a>.
        </p>

    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Tiny</li>
            <li class="price">$50 / 40€<span class="tax" title="Plus VAT if applicable">*</span></li>
            <li class="bullet-item">For one website<br/>with up to <strong>250 pages</strong></li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.OneTimeJob.buy.url" title="Buy a One Time Tiny job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Small</li>
            <li class="price">$75 / 60€<span class="tax" title="Plus VAT if applicable">*</span></li>
            <li class="bullet-item">For one website<br/>with up to <strong>500 pages</strong></li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.OneTimeJob.buy.url" title="Buy a One Time Small job">Buy Now</a></li>
        </ul>
    </div>

    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Medium</li>
            <li class="price">$110 / 90€<span class="tax" title="Plus VAT if applicable">*</span></li>
            <li class="bullet-item">For one website<br/>with up to <strong>1,000 pages</strong></li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.OneTimeJob.buy.url" title="Buy a One Time Medium job">Buy Now</a></li>
        </ul>
    </div>
    <div class="large-3 column">
        <ul class="pricing-table">
            <li class="title">Large</li>
            <li class="price">$190 / 150€<span class="tax" title="Plus VAT if applicable">*</span></li>
            <li class="bullet-item">For one website<br/>with up to <strong>2,000 pages</strong></li>
            <li class="description">HTML</li>
            <li class="description">CSS</li>
            <li class="description"><abbr title="Internationalization">i18n</abbr></li>
            <li class="cta-button"><a class="button" href="@routes.OneTimeJob.buy.url" title="Buy a One Time Large job">Buy Now</a></li>
        </ul>
    </div>

    <p class="column note"><em>* Plus VAT if applicable.</em></p>

    <p class="column">Additional plans will be introduced soon.</p>

</div>

}
