@(userForm: Form[Account] = AccountForm,
    passwordForm: Form[Password],
    user: User,
    messages: List[(String, String)] = List())(implicit req: RequestHeader, flash: Flash, vs: ValidatorSuite)

@front(Messages("title.account"), Some(user)) {

<section class="row">

    @defining(messages ++ flash.data){ case messages =>
    @if(messages.size > 0) {
    <div class="column globalMessages">
        @libs.messages2(messages)
    </div>
    }}

    @forms.userForm(userForm, passwordForm, user)

</section>

}
