@(registerForm: Form[Register],
    loginForm: Form[Login],
    messages: List[(String, String)] = List())(implicit req: RequestHeader, flash: Flash, vs: ValidatorSuite)

@front("W3C Validator Suite - Register", user = None, withModals = false) {

<section class="row">

    @libs.messages(messages ++ flash.data)

    @forms.registerForm(registerForm)

</section>

<div id="loginModal" class="reveal-modal medium">

    @forms.loginForm(loginForm, false)

    <a class="close-reveal-modal" href="#" aria-label="Cancel">&#215;</a>

</div>

}
