@(job: JobView,
    assertors: Iterable[AssertorView],
    assertionsPage: Page[GroupedAssertionView],
    user: User,
    organization: Organization,
    messages: List[(String, String)] = List.empty)(implicit flash: Flash, req: Request[_])

@libs.main("Validator Suite",
    style = "dashboard",
    script = ""){
   
   @*****

"""
$(function () {
$(".folds article .title").click(function (event){
$(this).parents("article").toggleClass("folded");
})
});
"""

******@

    
    @libs.admin(user)
    @libs.navigation("Report for job \"" + job.name +"\"", organization, List((job.name ,"")))
    @libs.messages(messages)
    
    <section id="jobs" class="single">
        <h2>Job: @job.name</h2>
        @pages.jobs(Page(job))
    </section>

    <section id="assertors" class="tabs">
        <h2>Assertors</h2>
        @libs.assertors(assertors, assertionsPage)
    </section>
    
    <section id="assertions" class="folds" data-id="@job.id">
        <h2>Assertions</h2>
        @pages.groupedAssertions(assertionsPage)
    </section>
    
}{ @***** Footer *****@

    @libs.footer {
    @libs.pageCtrl(assertionsPage)
    }

}
