@(job: JobView,
    page: Page[ResourceView],
    user: User,
    organization: Organization,
    messages: List[(String, String)] = List.empty)(implicit flash: Flash, req: Request[_])

@libs.main("Validator Suite",
    stylesheets = List("dashboard.min.css"),
    script = "dashboard"){
   
   @***** Header

exec = """
$(function () {
//window.Dashboard = new DashboardView();
//window.Report = new ReportView();
//VS.Socket.open({url: "/jobs/ws/""" + job.id + """ "});
});
"""

******@
    
    @libs.header()
    
}{ @***** Content *****@ 
    
    @libs.admin(user)
    @libs.navigation("Report for job \"" + job.name +"\"", organization, List((job.name ,"")))
    @libs.messages(messages)
    
    <section id="jobs" class="single">
        @pages.jobs(Page(job))
    </section>
    
    <section id="resources" class="list" data-id="@job.id">
        @pages.resources(page, job)
    </section>
    
}{ @***** Footer *****@

    @libs.footer {
    @libs.pageCtrl(page)
    }

}
